@media (max-width: 480px) {

// HEADER
//-------------------------
header nav li a {
  // Prevent nav bar from splitting
  padding: 9px;
}

// #INTRO
//-------------------------
#intro .item-container .item {
  border: none;
}

// #PORTFOLIO
//-------------------------
#portfolio .portfolio-item {
  border: none;
}

// CONTACT
//-------------------------
#contact .contact-form {
  padding: 30px 15px;
  width: auto;

  input, textarea {
    @include border-box;
    width: 100%;
  }
}

} // @media (max-width: 480px)



@media (max-width: 768px) {

header nav li {
  padding: 0;
}

} // @media (max-width: 768px)



@media (min-width: 768px) and (max-width: 980px) {

// #INTRO
//-------------------------
#intro .item-container .item {
  margin-right: 67px !important;
  &:last-child { margin-right: 0 !important; }
}

// #CONTACT
//-------------------------
#contact [class^="span-"] {
  //width: 400px !important;
}

} // @media (min-width: 768px) and (max-width: 980px)