@media (max-width: 480px) {

// HEADER
//-------------------------
header nav li a {
  // Prevent nav bar from splitting
  padding: 9px;
}

// #INTRO
//-------------------------
#intro .item-container .item {
  border: none;
}


// #PORTFOLIO
//-------------------------
#portfolio {
  .portfolio-item {
    border: none;
  }

  h2 {
    text-align: center;
  }

  img {
    margin: 5px auto 10px;
  }
}


// FOOTER
//-------------------------
footer {
  padding: 5px;
}


// CONTACT
//-------------------------
#contact {

  .contact-form {
    padding: 30px 15px;
    width: auto;

    input, textarea {
      @include border-box;
      width: 100%;
    }
  }

  .submit {
    padding: 10px 0;
  }
}

} // @media (max-width: 480px)




@media (max-width: 790px) {

header nav li {
  padding: 0;
}

} // @media (max-width: 768px)




// FIXED SIDEBAR
//-------------------------
@media (max-width: 630px) {
  .sidebar {
    @include border-box;
    padding: 5px;
    position: static !important;
    margin-left: 0 !important;
  }
}


@media (min-width: 630px) and (max-width: 790px) {
  .sidebar { margin-left: 480px !important; }
}


@media (min-width: 790px) and (max-width: 1100px) {
  .sidebar { margin-left: 600px !important; }
}