//-- SUTRO BAR
//------------------------------------
.sutro-bar {
  @include border-radius;
  border: 1px solid $gray-border;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 20px;

  .sutro-action {
    background-color: white;
    border-right: 1px solid lighten($gray-border, 3);
    display: inline-block;
    float: left;
    padding: 5px 10px;

    &:last-child { border-right: none; }

    &:hover {
      background-color: $blue;
      color: white;
      text-decoration: none;
    }
  }
}


//-- POSTS
//------------------------------------
.blog-container {
  margin-top: 50px !important;
  position: relative;
}

.post {
  $light-border: lighten($gray-border, 2);

  @extend %whitebox;
  border-color: $light-border;
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 0;
  word-wrap: break-word;

  .post-title {
    border-bottom: 1px solid $light-border;
    padding: 10px 15px 0px;

    h2 {
      font-size: 1.8em;
      margin-bottom: 0;

      a {
        color: inherit;

        &:hover {
          color: $blue;
          text-decoration: none;
        }
      }
    }
  }

  .post-content {
    @include clearfix;
    padding: 0px 15px 10px;
  }

  .date {
    color: $gray-border;
    font-weight: bold;
    margin-bottom: 15px;
  }

  h5 {
    // Legacy support for section titles - use h3!
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 15px;

    &.list-head { margin-bottom: 5px; }
  }

  em { font-style: italic; }

  ul {
    list-style: disc;
    margin-bottom: 15px;

    li { margin-left: 20px; }
  }

  code,
  pre {
    color: $gray-header;
    font-family: $codeFontFamily;
    font-size: 0.9em;
  }

  code {
    // Inline code snippets
    background-color: darken($gray-light, 3);
    border: 1px solid $gray-border;
    padding: 3px;
  }

  pre {
    // Code blocks
    background-color: darken($gray-light, 4);
    border: 1px solid #ddd;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 10px 15px;

    .label,
    .comment {
      color: #797979;
    }

    .label {
      display: inline-block;
      margin-bottom: 8px;
    }

    code {
      // Undo extra code stylings in markdown-fenced blocks
      background: none;
      border: none;
      padding: 0;
    }
  }

  img {
    border: 1px solid $gray-border;
    display: block;
    margin: 0 auto 15px;
    max-width: 95%;
    padding: 5px;
  }

  .img-caption {
    color: darken($gray-border, 20);
    font-size: 0.9em;
    margin-top: -10px;
    text-align: center;
  }

  .tag {
    background-color: #E0E0E0;
    color: #6B6B6B;
    display: inline-block;
    font-weight: bold;
    margin: 0 10px 10px 0;
    padding: 1px 8px;
  }

  .twitter-share-button {
    float: right;
    margin: 2px 0px 5px;
  }

} // .post

.read-more {
  float: right;
  margin-bottom: 5px;
}

.back {
  font-size: 1.1em;
  margin-bottom: 25px;
  padding: 8px;
}


//-- SIDEBAR
//------------------------------------
.sidebar {
  h2 {
    border-bottom: 1px solid darken($gray-border, 0);
    margin: 20px 0 10px;
    text-transform: uppercase;

    &:first-child { margin-top: 0; }
  }

  p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 1.1em;
  }

  .social { @include clearfix; }

  .icon {
    background-image: url('/assets/social.png');
    float: left;
    margin-right: 45px;
    height: 64px;
    width: 64px;

    @media (max-width: 790px) { margin-right: 10px; }
  }

  .twitter-icon  { background-position: 0px 64px; }
  .github-icon   { background-position: 0px 192px; }
  .rss-icon      { background-position: 0px 0px; }

  @include mobile { padding: 0 10px 20px; }
}


//-- PAGINATION BUTTONS
//------------------------------------
.pagination {
  font-size: 1.1em;
  margin: 30px auto;
  text-align: center;

  a,
  .current,
  .disabled {
    border: 1px solid $gray-border;
    padding: 5px 8px;
  }

  a {
    background-color: white;

    &:hover {
      background-color: $gray-text;
      color: white;
      text-decoration: none;
    }

  }

  .current {
    background-color: #444;
    color: white;
    font-weight: bold;
  }

  .disabled {
    background-color: #e7e7e7;
    color: lighten($gray-text, 35);
  }
}


//-- DISQUS COMMENTS
//------------------------------------
.comments-container {
  border-top: 1px solid $gray-border;
  background-color: white;
  padding-top: 10px;
}

#disqus_thread {
  margin: 10px auto 20px;

  h3 { font-size: 1.3em; }

  a { font-size: 0.9em; }

  .dsq-trackback-url { display: none; }
}
