//-- SUTRO BAR
//------------------------------------
.sutro-bar {
  @include border-radius(3px);
  border: 1px solid $gray-border;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 20px;

  .sutro-action {
    background-color: white;
    border-right: 1px solid lighten($gray-border, 3);
    display: inline-block;
    float: left;
    padding: 5px 10px;

    &:last-child {
      border-right: none;
    }

    &:hover {
      background-color: $blue;
      color: white;
      text-decoration: none;
    }
  }
}


//-- POSTS
//------------------------------------
.blog-container {
  margin-top: 50px !important;
  position: relative;
}

.post {
  @include whitebox;
  @include border-radius(5px);
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 10px 15px;
  word-wrap: break-word;

  h2 {
    // Post titles
    font-size: 1.5em;
    margin-bottom: 0;

    a {
      color: inherit;
    }
  }

  .date {
    color: $gray-border;
    font-weight: bold;
    margin-bottom: 15px;
  }

  h5 {
    // Legacy support - use h3!
    // Section titles
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 15px;
  }

  code, 
  pre {
    color: lighten($gray-header, 3);
    //font-family: 'Courier New', Arial, sans-serif;
    font-family: "Lucida Console", Arial, sans-serif;
    font-size: 0.8em;
  }

  code {
    // Inline code snippets
    background-color: darken($gray-light, 3);   
    border: 1px solid $gray-border;
    padding: 3px;        
  }

  pre {
    // Code blocks
    @include border_radius(4px);
    background-color: darken($gray-light, 4);
    border: 1px solid #ddd;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 10px 15px;
    
    .label,
    .comment {
      color: #797979;
    }

    .label {
      display: inline-block;
      margin-bottom: 8px;
    }    

  } // pre
  
  img {
    border: 1px solid $gray-border;
    display: block;
    margin: 0 auto 15px;
    max-width: 95%;
    padding: 5px;  
  }

  .tag {
    @include border_radius(3px);
    background-color: #D3D3D3;
    color: #666;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 2px 8px;
  }

} // .post

.read-more {
  @include bluebutton;
  float: right;
  margin-bottom: 5px;
}

#back {
  // "Back to Blog"
  @include bluebutton;
  font-size: 1.1em;
  margin-bottom: 15px;
  padding: 8px;
}


//-- SIDEBAR
//------------------------------------
.sidebar {
  position: fixed;
  margin-left: 840px;

  h2 {
    border-bottom: 1px dashed darken($gray-border, 10);
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  p {
    line-height: 1.6;
    margin-bottom: 15px;
  }

} // .sidebar


//-- PAGINATION BUTTONS
//------------------------------------
.pagination {
  font-size: 1.1em;
  margin: 30px auto; 
  text-align: center;

  a,
  .current,
  .disabled {
    border: 1px solid $gray-border;    
    padding: 5px 8px;
  }
  
  a {
    background-color: white;
    
    &:hover {
      background-color: $gray-text;
      color: white;
      text-decoration: none;
    }
    
    &:active {      
      font-weight: bold;
    }

  }

  .current {      
    background-color: #444;
    color: white;
    font-weight: bold;
  }

  .disabled {
    background-color: #e7e7e7;
    color: lighten($gray-text, 35);
  }

} // .pagination


//-- DISQUS COMMENTS
//------------------------------------
#disqus_thread {
  margin: 10px auto 20px;
  
  h3 {    
    font-size: 1.3em;
  }

  a {
    font-size: 0.9em;
  }
  
  .dsq-trackback-url {
    display: none;
  }

} // #disqus_thread