#contact {
  background-color: $blue;
  border-top: 1px solid lighten($gray-border, 13);
  border-bottom: 1px solid $gray-border;
  font-size: 1.2em;

  .contact-form {
    @include border-box;
    @include clearfix;
    background-color: $gray-light;
    border: 1px solid $gray-border;
    margin: 0 auto;
    padding: 20px 35px 25px;
    width: 425px;

    p {
      line-height: 1.3;
    }

    h2 {
      font-size: 2em;
      font-weight: normal;
    }

    label {
      display: none;
    }

    textarea {
      height: 150px;
      overflow: auto; // Remove scrollbar in IE
    }

    input:not([type="submit"]),
    textarea {
      @include border-box;
      @include ease-out(0.2s);
      border: 1px dashed darken($gray-border, 3);
      color: $gray-text;
      font-family: inherit;
      font-size: 1em;
      margin-top: 15px;
      padding: 5px;        
      width: 100%;
      
      &:focus {
        border: 1px solid $blue-light;
        outline: none;
      } 
    }

  } // .contact-form

  .submit {
    @extend .bluebutton;
    float: right;
    font-size: 0.9em;
    margin-top: 15px;
  }

} // # contact

#hint {
  // Mailcheck suggestion
  color: #B94A48;
  display: none;
  font-size: 0.9em;
  margin: 10px 0 -5px;

  .domain {
    font-weight: bold;
    text-decoration: underline;
  }
}