footer {
  background-color: #222;
  border-top: 3px solid $blue;
  color: lighten(#2c2c2c, 30);
  padding: 15px 0;
  text-align: right;

  a {
    color: inherit;
    &:hover { color: $blue; }
  }

  @include mobile { padding: 5px; }
}
