header {
  @include clearfix;
  background-color: #222;

  a {
    color: white;
    &:hover { text-decoration: none; }
  }

  .header-title { padding: 15px 0 5px; }

  nav {
    @include clearfix;
    border-bottom: 5px solid #08c;
    background-color: #010101;
    padding: 5px 0;

    ul { display: inline-block; }

    li { float: left; }

    a {
      @include bold(1em);
      display: inline-block;
      padding: 10px;
      text-transform: uppercase;

      &:hover { color: #08c; }
    }
  }

  @include mobile { text-align: center; }
}
