header {
  @include clearfix;
  background-color: #222;

  a {
    color: white;
    &:hover { text-decoration: none; }
  }

  h1 {
    font-family: 'Cabin', Arial, sans-serif;
    font-size: 3.5em;
    font-weight: normal;
  }

  .header-title {
    padding: 15px 0 5px;
  }

  nav {
    @include clearfix;
    border-bottom: 5px solid #08c;
    background-color: #010101;
    padding: 5px 0;


    li { float: left; }

    a {
      @include bold(1em);
      display: inline-block;
      padding: 10px;
      text-transform: uppercase;

      &:hover { color: #08c; }
    }
  }
}
