header {
  background-color: $blue;
  border-bottom: 1px solid $gray-border;
  padding: 15px 0;

  h1 {
    color: white;
    font-family: 'Cabin', Arial, sans-serif;
    font-size: 3.3em;
    font-weight: normal;

    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
  }

  nav {
    margin-top: 20px;

    li {
      border-right: 1px dashed $gray-border;
      float: right;
      font-size: 1.1em;
      padding: 2px 10px;

      &:first-child {
        border: none;
      }

      a {
        @include ease-out(0.12s);
        color: white;
        font-size: 1.1em;
        display: block;
        text-decoration: none;
        padding: 3px 5px;

        &:hover {
          @include border-radius;
          background-color: $blue-light;
          text-decoration: none;
        }
      }
    }

  } // nav

}


@media (max-width: 630px) {

header {
  h1, nav {
    text-align: center;
  }

  nav li {
    float: none;
    display: inline-block;
    margin-left: -5px; // Hack for whitespace-sensitive inline-block behavior

    &:first-child {
      border-right: 1px dashed $gray-border;
    }

    &:last-child {
      border: none;
    }

    a {
      margin: 0 10px;
      padding: 5px 10px;
    }
  }
}

}
