//-- LAYOUT
//------------------------------------
body {
  background-color: white;
  color: $gray-text;
  font-family: $mainFontFamily;
  font-size: 13px;
  line-height: 1.4;
}

section {
  padding: 40px 0;

  @include mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container {
  margin: 0 auto;
}

.row .row {
  margin-top: 5px;
}


//-- TYPOGRAPHY
//------------------------------------
a {
  color: lighten($blue, 3);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3 {
  margin-bottom: 5px;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

h2 { font-size: 1.5em; }

h3 { font-size: 1.2em; }

strong { font-weight: bold; }


//-- LIB CLASSES
//------------------------------------
%whitebox {
  @include border-box;
  @include clearfix;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
}

.separator {
  border-bottom: 1px dashed #888;
  height: 0;
  margin: 25px auto;
  width: 75%;

  @media (max-width: 630px) { margin: 20px auto; }
}

.left  { float: left; }
.right { float: right; }


//-- PAGE NOT FOUND
//------------------------------------
.error-box {
  @extend %whitebox;
  margin-top: 50px;
  margin-bottom: 50px;

  strong {
    color: $gray-header;
    font-size: 1.7em;
  }

  .error-message {
    font-size: 1.5em;
  }

  .btn-huge {
    margin-top: 25px;
    margin-right: 10px;

    &:last-child {
      float: right;
    }
  }
}


//-- INTRO
//------------------------------------
.intro-container,
.portfolio-container {
  h1 {
    color: $gray-text;
    font-weight: 300;
    font-family: 'Open Sans', $mainFontFamily;
    text-align: center;
  }
}

.intro-container {
  background: #fff url('/images/graph.png');
  background-position: right;
  position: relative;
  padding: 90px 0;

  @media (max-width: 790px) {
    height: auto !important;
    padding: 90px 0;

    h1 { margin: 20px auto 60px !important; }
  }

  h1 {
    font-size: 2.9em;

    .highlight { color: $blue; }
    .greeting { color: $gray-header; }

    @include mobile {
      font-size: 2.5em;
      max-width: 75%;
      margin: 0 auto;
    }
  }

  .ampersand {
    color: $gray-header;
    display: inline-block;
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    margin: 0 3px;
  }

  .scroll-icon-container {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;

    @media (max-width: 790px) { display: none; }

    a {
      color: #999;
      font-size: 6em;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }
}



//-- Sutro
//------------------------------------
.sutro-container {
  border-bottom: 1px solid darken(#f9f9f9, 5);
  padding: 0 0 60px;
  text-align: center;

  .sutro-stripe {
    background: url("/images/bg-triangles.svg") no-repeat center center fixed;
    background-size: cover;
    height: 10px;
    width: 100%;
  }

  h1 {
    margin: 50px 0 20px;
  }

  p {
    color: lighten($gray-text, 20);
    font-size: 1.4em;
  }
}



//-- PORTFOLIO
//------------------------------------
.portfolio-container {
  background-color: #fcfcfc;
  text-align: center;
  padding-top: 60px;

  h1, h2 { margin-bottom: 25px; }

  h1 { font-size: 2.1em; }

  .subhead {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;

    &:last-child { margin-bottom: 40px; }
  }

  .project-container {
    margin-bottom: 55px;

    img {
      @include border-radius(2px);
      //border: 1px solid $gray-border;
      border: 1px solid darken($gray-border, 3);
      display: block;
      margin-bottom: 15px;
      max-width: 100%;
    }

    .project-title { font-size: 1.9em; }

    .project-description { font-size: 1.2em; }
  }


  .github {
    font-size: 1.8em;
    display: inline-block;
    margin-bottom: 40px;
    color: $gray-text;

    &:hover { color: $blue; }
  }

}


//-- LATEST POST
//------------------------------------
.latest-post-container {
  background-color: $blue;
  color: white;
  padding: 80px 0 75px;
  text-align: center;

  h2 {
    font-size: 1.8em;
    margin-bottom: 0;
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover { color: darken(white, 7); }
  }
}


//-- CONTACT INFO
//------------------------------------
.contact-container {
  text-align: center;

  h2, p { margin-bottom: 25px; }

  h2 { font-size: 2.3em; }

  .contact { font-size: 1.3em; }
  .resume  { font-size: 1.2em; }
}
