// TEMPORARY
//------------------------------------
//body { background-color: red; }
//[class^="span-"] { outline: 1px solid blue; }
//.container { outline: 1px solid red; }
//------------------------------------------


// ==============================================

.row .row { margin-top: 5px; }

// ==============================================


//-- LAYOUT
//------------------------------------
body {
  background-color: lighten(#e2e2e2, 5);
  color: $gray-text;
  font-family: 'Helvetiva Neue', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
}

section {
  padding: 40px 0;
}

.container {
  margin: 0 auto;
}


//-- TYPOGRAPHY
//------------------------------------
a {
  color: lighten($blue, 3); // 08c
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

h2 { font-size: 1.5em; }

h3 { font-size: 1.2em; }

strong { font-weight: bold; }


//-- LIB CLASSES
//------------------------------------
.btn {
  @include bluebutton;
}

.btn-huge {
  font-size: 1.2em;
  padding: 20px 30px;
}


.separator {
  border-bottom: 1px dashed #888888;
  height: 0;
  margin: 20px auto;
  width: 75%;
}


//-- PAGE NOT FOUND
//------------------------------------
.error-box {
  @include whitebox;
  margin-top: 50px;
  margin-bottom: 50px;

  strong {
    color: $gray-header;
    font-size: 1.7em;
  }

  .error-message {
    font-size: 1.5em;
  }

  .btn-huge {
    margin-top: 25px;
    margin-right: 10px;

    &:last-child {
      float: right;
    }
  }

}