#intro {
  border-bottom: 1px solid $gray-border;

  .welcome {
    color: $gray-text;
    font-size: 3em;
    font-family: 'Open Sans', $mainFontFamily;
    margin-bottom: 35px;
    text-align: center;

    .highlight { color: $blue; }
    .greeting { color: $gray-header; }
  }

  .ampersand {
    color: $gray-header;
    display: inline-block;
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    margin: 0 2px;
  }

  .item-container {
    margin-top: 10px;

    .item {
      @extend %whitebox;
      border-top: 3px solid $blue-light;
      min-height: 200px;
      padding: 15px;

      p {
        font-size: 1.1em;
        line-height: 1.6;
      }

      @include mobile {
        min-height: 0;
        margin-bottom: 15px;
      }
    }
  }
}
