#intro {
  // background-color: #EFEFEF
  border-bottom: 1px solid $gray-border;

  .welcome {
    color: $gray-text;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;

    .highlight { color: $blue; }
    .greeting { color: $gray-header; }
  }

  .item-container {
    margin-top: 10px;

    .item {
      @extend %whitebox;
      border-top: 3px solid $blue-light;
      min-height: 170px;
      padding: 15px;

      p {
        font-size: 1.1em;
        line-height: 1.6;
      }

      @include mobile {
        min-height: 0;
        margin-bottom: 15px;
      }
    }
  }
}
