
.intro-container,
.portfolio-container {
  h1 {
    color: $gray-text;
    font-weight: 300;
    font-family: 'Open Sans', $mainFontFamily;
    text-align: center;
  }
}


.intro-container {
  // TODO: temporary
  background: #fff url('/images/graph2.png');
  background-position: right;
  border-bottom: 1px solid darken(#f9f9f9, 2);

  padding: 90px 0;

  h1 {
    font-size: 2.9em;

    .highlight { color: $blue; }
    .greeting { color: $gray-header; }

    @include mobile {
      font-size: 2.5em;
      max-width: 75%;
      margin: 0 auto;
    }
  }

  .ampersand {
    color: $gray-header;
    display: inline-block;
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
    margin: 0 3px;
  }
}




// #portfolio {
//   //background-color: #FCF9F9; // $gray-light
//   border-bottom: 1px solid $gray-border;
//   padding-top: 30px;
//   padding-bottom: 60px;
//
//   .portfolio-item { @extend %whitebox; }
//
//   h2 > a:hover { text-decoration: none; }
//
//   img {
//     display: block;
//     margin-bottom: 10px;
//     max-width: 100%;
//   }
//
//   .separator {
//     border-color: lighten($gray-border, 7);
//     margin: 7px auto;
//
//     & + a { float: right; }
//   }
//
//   .github-link {
//     @include bold(1.5em);
//     color: $gray-text;
//     display: block;
//     float: right;
//     margin-top: 30px;
//
//     &:hover {
//       color: $blue;
//       text-decoration: none;
//     }
//
//     @include mobile {
//       float: none;
//       margin-top: 10px;
//       text-align: center;
//     }
//   }
// }
//
//
// @include mobile {
//   #portfolio {
//     padding-top: 10px;
//
//     h1 { text-align: center; }
//
//     .portfolio-item { margin-bottom: 15px; }
//
//     h2 { text-align: center; }
//
//     img { margin: 5px auto 10px; }
//   }
// }




.portfolio-container {
  //background-color: #08c;
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 60px;

  h1 {
    font-size: 2.3em;
    margin-bottom: 50px;
  }

  .project-container {
    margin-bottom: 55px;

    img {
      display: block;
      margin-bottom: 15px;
      max-width: 100%;
    }

    .project-title {
      font-size: 1.9em;
    }

    .project-description {
      font-size: 1.2em;
    }
  }


  .github {
    font-size: 1.8em;
    display: inline-block;
    margin-bottom: 40px;
    color: $gray-text;

    &:hover { color: $blue; }
  }

}


.latest-post-container {
  background-color: $blue;
  color: white;
  padding: 60px 0 55px;
  text-align: center;

  h2 {
    font-size: 1.8em;
    margin-bottom: 0;
  }

  a {
    color: white;
    text-decoration: underline;

    &:hover { color: darken(white, 7); }
  }
}


.contact-container {
  text-align: center;

  h2, p { margin-bottom: 25px; }

  h2 { font-size: 2.3em; }

  .contact { font-size: 1.3em; }
  .resume  { font-size: 1.2em; }
}
