#simplemodal-overlay {
  background-color: #000;
}

.modal {
  @include border-box;
  @include clearfix;
  background-color: white;
  border: 1px solid $gray-border;
  display: none;
  margin: 0 auto;
  padding: 15px;
  width: 700px;

  @include mobile {
    padding: 10px;
    width: 100%;
  }

  .simplemodal-close {
    @include bold(1.2em);
    color: darken($gray-border, 5);
    float: right;
    margin-top: -5px;

    &:hover {
      color: lighten($gray-text, 10);
      cursor: pointer;
      text-decoration: none;
    }
  }

  img {
    float: left;
    margin-right: 15px;

    @include mobile {
      display: block;
      float: none;
      margin: 0 auto 10px;
    }
  }

  a:hover { text-decoration: underline; }

}
