#portfolio {
  background-color: $gray-light;
  border-bottom: 1px solid $gray-border;
  padding-top: 30px;
  padding-bottom: 60px;

  .portfolio-item {
    @extend .whitebox;
  }

  h2 > a:hover {
    text-decoration: none;
  }

  img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;    
  }

  .separator {
    border-color: lighten($gray-border, 7);
    margin: 7px auto;

    & + a {
      float: right;
    }
  }

} // #portfolio