#portfolio {
  background-color: $gray-light;
  border-bottom: 1px solid $gray-border;
  padding-top: 30px;
  padding-bottom: 60px;

  .portfolio-item { @extend %whitebox; }

  h2 > a:hover { text-decoration: none; }

  img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
  }

  .separator {
    border-color: lighten($gray-border, 7);
    margin: 7px auto;

    & + a { float: right; }
  }

  .github-link {
    @include bold(1.3em);
    color: $gray-text;
    display: block;
    float: right;
    margin-top: 25px;

    &:hover {
      color: $blue;
      text-decoration: none;
    }

    @include mobile {
      float: none;
      margin-top: 10px;
      text-align: center;
    }
  }
}


@include mobile {
  #portfolio {
    padding-top: 10px;

    h1 { text-align: center; }

    .portfolio-item { margin-bottom: 15px; }

    h2 { text-align: center; }

    img { margin: 5px auto 10px; }
  }
}
