$mainFontFamily: 'Helvetiva Neue', Helvetica, Arial, sans-serif;
$codeFontFamily: Menlo, Monaco, Consolas, 'Courier New', monospace;

$blue:       #08c; // 3485B6
$blue-light: #00b4ff;

$gray-header: #393335;
$gray-text:   #525252;
$gray-border: #ccc;
$gray-light:  #F9F9F9;
