$mainFontFamily: 'Open Sans', 'Helvetiva Neue', Helvetica, Arial, sans-serif;
$codeFontFamily: Menlo, Monaco, Consolas, 'Courier New', monospace;

$blue:       #08c;
$light-blue: lighten($blue, 3);

$gray-header: #393335;
$gray-text:   #525252;
$gray-border: #ccc;
$gray-light:  #F9F9F9;
$light-border: lighten($gray-border, 2);
