.cta {
  @include border-radius(3px);
  background: #F0F0F0;
  border: 1px solid $med_gray;
  float: left; 
  font-size: 0.9em;
  margin-top: 10px;
  padding: 7px 10px;
  text-decoration: none; 
  
  &:hover {    
    cursor: pointer;
    text-decoration: none;
  }
}

.submit {
  color: $green;
  
  &:hover {    
    color: #5C7C04;    
    border: 1px solid lighten(#5C7C04, 10);
  }
}

#save  {  
  color: $med_blue;
  display: none; // Enabled with JS
  margin-left: 10px;
  
  &:hover {
    border: 1px solid $blue;    
  }
}

#cancel {
  color: $cancel;
  float: right; 
  
  &:hover {
    border: 1px solid #FF8181;    
  }
}