//---------- TEMPORARY DEV STYLES
/*
#container {
  background-image: none   !important;
  background-color: green !important;
}
#sidebar { background-color: orange !important; }
#content { background-color: #0FC   !important; }
.wrapper, .recommendations ul {
  background-color: pink !important;
  box-shadow: none       !important;
  border-radius: 0px     !important;
}
table    { border: 1px solid green !important; }
th {
  border: none !important;
  border-bottom: 1px solid brown !important;
}
td {color: black;}

h2 {background-color: orange !important; color: black !important;}
label {background-color: blue !important; color: white !important;}
input,textarea {border: 1px solid black !important;}
.help-text {background-color: red !important; color: yellow !important;}

.cta {
  background-color: yellow !important;
  border: 1px solid red !important;
  border-radius: 0px !important;
  color: black !important;
}
*/

//---------- END TEMPORARY DEV STYLES
