.flash {
  padding: 10px;
}

.error_messages {
  // TODO: Make these prettier
  background-color: #ffeded;
  border: 1px solid $cancel;  
  color: $cancel;
  margin-bottom: 15px;
  padding: 5px;
  
  h2 {
    color: inherit;
    font-size: 1.2em;
  }
  
  ul {
    list-style: square;
    margin-left: 30px;
  }
}