#sidebar {
  background-color: #C4C4C4;
  clear: none;
  float: left;   
  min-height: 500px;    
  width: 12.5em;
  
  ul {
    margin-top: 30px;     
    
    li {
    
      a {
        background-color: #f9f9f9;        
        background-image: linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);
        background-image: -o-linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);
        background-image: -moz-linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);
        background-image: -webkit-linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);
        background-image: -ms-linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);        
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.88, #F9F9F9), color-stop(1, #DFDFDF));
        border-bottom: 1px solid #9C9C9C;
        border-top: 1px solid #f9f9f9;
        color: $med_blue;
        display: block;
        height: 30px;
        line-height: 30px;
        margin: 0;
        text-align: center;
        text-decoration: none;
                       
        &:hover {          
          background-color: $med_blue;
          background-image: none;         
          color: #f9f9f9;                    
        }
        
        &.current {          
          background-color: $dark_blue;          
          background-image: linear-gradient(bottom, #1F779C 48%, #1B6385 100%);
          background-image: -o-linear-gradient(bottom, #1F779C 48%, #1B6385 100%);
          background-image: -moz-linear-gradient(bottom, #1F779C 48%, #1B6385 100%);
          background-image: -webkit-linear-gradient(bottom, #1F779C 48%, #1B6385 100%);
          background-image: -ms-linear-gradient(bottom, #1F779C 48%, #1B6385 100%);          
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.48, #1F779C), color-stop(1, #1B6385));
          border-top: 1px solid #666;
          color: white;         
        }
                       
      }
    }
  } // ul
  
  p {
    color: $gray_text;
    font-size: 0.8em;
    margin-top: 15px;
    text-align: center;
  }

} // #sidebar