#sidebar {
  background-color: #C4C4C4;
  clear: none;
  float: left;   
  min-height: 500px;
  text-align: center; 
  width: 12.5em;
  
  ul {
    margin-top: 30px;     
    
    li a {
      background-color: $light_gray;
      border-bottom: 1px solid $med_gray;
      border-top: 1px solid $light_gray;
      color: $med_blue;
      display: block;
      padding: 7px 0;

      &:hover,
      &.current {          
        background-color: $med_blue;      
        color: white;
        text-decoration: none;        
      }        
    }
  }
  
  p {
    font-size: 0.8em;
    margin-top: 15px;
  }

  aside {
    color: lighten($gray_text, 10);
    font-size: 0.9em;
    position: absolute;
    left: 10px; bottom: 10px;
  }

} // #sidebar