@mixin sutro-btn($color) {
  background-color: $color;
  color: white;

  &:hover { background-color: darken($color, 10); }
}


.btn {
  @include border-radius;
  border: 0;
  float: left;
  padding: 10px 15px;
  text-decoration: none;

  &:hover { text-decoration: none; }

  &.btn-green { @include sutro-btn($bootflat-green); }
  &.btn-blue  { @include sutro-btn($bootflat-blue); }
  &.btn-red   { @include sutro-btn($bootflat-red); }
  &.btn-gray  {
    @include sutro-btn($light_gray);
    color: $med-blue;
    border: 1px solid darken($light_gray, 10);
  }
}

.btn-group {
  @include clearfix;

  .btn {
    margin-right: 10px;

    &:last-child { margin-right: 0; }
  }
}
