.btn {
  @include border-radius($radius);
  background: #F0F0F0;
  border: 1px solid $med_gray;
  float: left;
  font-size: 0.9em;
  margin-top: 10px;
  padding: 7px 10px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.btn-green {
  color: $green;

  &:hover {
    color: #5C7C04;
    border: 1px solid lighten(#5C7C04, 10);
  }
}


.btn-blue  {
  color: $med_blue;

  &:hover {
    border: 1px solid $blue;
  }
}


.btn-red {
  color: $cancel !important; // ?????

  &:hover {
    border: 1px solid #FF8181;
  }
}

#save {
  margin-left: 10px;
}

#cancel {
  float: right;
}
