.btn {
  @include border-radius;
  background-color: $light_gray;
  border: 1px solid $med_gray;
  float: left;
  font-size: 0.9em;
  padding: 7px 10px;
  text-decoration: none;

  &:hover {
    background-color: darken($light_gray, 4);
    cursor: pointer;
    text-decoration: none;
  }

  &:active {
    background-color: darken($light-gray, 6);
  }

  &.btn-green {
    color: $green;

    &:hover {
      color: #5C7C04;
      border: 1px solid lighten(#5C7C04, 10);
    }
  }

  &.btn-blue  {
    color: $med_blue;

    &:hover {
      border: 1px solid $blue;
    }
  }

  &.btn-red {
    color: $red;

    &:hover {
      border: 1px solid #FF8181;
    }
  }

}

.btn-group {
  @include clearfix;

  .btn {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
