.wrapper {
  @include border-radius;
  float: left;
  width: 45%;
  min-width: 250px;
}

.post-preview {
  float: left;
  margin-left: 5%;
  width: 50%
}

label {
  clear: both;
  float: left;
  margin-bottom: 10px;
}

.help-text {
  color: #aaa;
  float: left;
  font-size: 0.8em;
  font-style: italic;
  margin: 2px 0 0 10px;

  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: $med_blue;
      // text-decoration: none;
    }
  }
}


input:not([type="submit"]),
textarea {
  @include border-box;
  border: 1px solid $med_gray;
  font-size: 1.1em;
  margin-bottom: 25px;
  padding: 7px 5px;
  width: 100%;

  &:focus {
    outline: none;
  }
}

textarea {
  font-family: $baseFontFamily;
  font-size: 0.9em;
  height: 200px;
  overflow: auto; // Remove scrollbar in IE
  resize: vertical;
}

select {
  height: 2.3em;
  margin-bottom: 15px;
  width: 100%;
}


.recommendations {
  clear: both;
  font-size: 0.9em;
  line-height: 1.4;

  h4 {
    color: #393335;
    font-weight: bold;
    margin-bottom: 5px;
  }

  ul {
    @include border-radius;
    @include box-shadow(0px,0px,2px,0px,#222);
    background-color: $light_gray;
    display: inline-block;
    list-style: disc;
    margin-top: 15px;
    padding: 10px;

    li {
      margin-left: 25px;
    }
  }
}
