//-- LAYOUT
//------------------------------------
body {
  background: #EDEDED url('/images/sutro_bg.jpg') repeat-y;
  font-family: $baseFontFamily;
  font-size: 16px;
  color: $gray_text;
}

#container {
  clear: none;
  min-height: 100%;
  overflow: auto;  
}

#content {
  overflow: hidden;  
  padding: 30px 15px;
}


//-- TYPOGRAPHY
//------------------------------------
.plain  { color: $gray_text !important; }
.italic { font-style: italic; }
.bold   { font-weight: bold; }

h2 {
  font-size: 1.7em;  
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2em;
}

a:link, a:visited {
  color: $med_blue;  
  text-decoration: none;   
}

a:hover {
  text-decoration: underline;
}


//-- NOTIFICATIONS/BADGES
//------------------------------------
.flash {
  padding: 10px;

  h2 {
    margin-bottom: 10px;
  }

  ul > li:before {
    content: "- ";
  }
}

.status-pill {
  @include border-radius(2px);
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  padding: 2px 3px;
  text-transform: uppercase;

  &.status-published {
    background-color: #46A546;
  }

  &.status-saved {
    background-color: #F89406;
  }
}