.pagination {
  $border_color: darken($med_gray, 2);

  margin: 40px auto;
  text-align: center;

  a, em, span { margin-right: -4px; }

  a,
  .current,
  .disabled {
    border: 1px solid $border_color;
    border-right: none;
    padding: 10px 14px;
  }

  a:hover {
    background-color: $med_blue;
    color: white;
    text-decoration: none;
  }

  .current {
    background-color: #f7f7f7;
    color: lighten($gray-text, 37);
  }

  .disabled {
    color: lighten($gray-text, 47);
  }


  $radius: 3px;

  // Left
  .previous_page {
    border-right: none;

    -webkit-border-top-left-radius: $radius;
        -moz-border-radius-topleft: $radius;
            border-top-left-radius: $radius;

    -webkit-border-bottom-left-radius: $radius;
        -moz-border-radius-bottomleft: $radius;
            border-bottom-left-radius: $radius;
  }

  // Right
  .next_page {
    border-right: 1px solid $border_color;

    -webkit-border-top-right-radius: $radius;
        -moz-border-radius-topright: $radius;
            border-top-right-radius: $radius;

    -webkit-border-bottom-right-radius: $radius;
        -moz-border-radius-bottomright: $radius;
            border-bottom-right-radius: $radius;
  }

}
