.pagination {
  margin: 30px auto;
  text-align: center;

  a,
  .current,
  .disabled {
    border: 1px solid darken($med_gray, 2);
    padding: 5px 8px;
  }

  a {
    background-color: white;

    &:hover {
      background-color: $med_blue;
      color: white;
      text-decoration: none;
    }
  }

  .current {
    background-color: lighten($gray_text, 10);
    color: white;
    font-weight: bold;
  }

  .disabled {
    background-color: #f7f7f7;
    color: lighten($gray-text, 37);
  }

}
