.sidebar {
  ul {
    margin-top: 30px;

    li a {
      color: $med_blue;
      display: block;
      font-size: 0.9em;
      font-weight: bold;
      margin-bottom: 3px;
      padding: 20px 30px;

      &:hover {
        background-color: #eee;
        color: #005580;
        text-decoration: none;
      }

      &.current {
        background-color: $med_blue;
        color: white;
      }
    }
  }

  .sidebar-content {
    border-top: 1px dotted $med_gray;
    padding: 10px 20px 0;
    text-align: center;
  }

  p {
    font-size: 0.8em;
    margin-top: 15px;
  }

  aside {
    color: lighten($gray_text, 20);
    font-size: 0.9em;
    position: absolute;
    left: 10px; bottom: 10px;
  }
}
