$table-border-color: #dedede;
$table-text-color: lighten($gray_text, 15);

table {
  border: 1px solid $table-border-color;
  color: $table-text-color;
  text-align: left;
  width: 100%;

  th {
    border: 1px solid $table-border-color;
    color: lighten($gray_text, 15);
    font-weight: bold;
    padding: 10px 10% 10px 12px;
  }

  tr {
    border-bottom: 1px solid $table-border-color;
    &:last-child { border-bottom: none; }
  }

  tr.odd { background-color: $light_gray; }

  td {
    border-right: 1px solid $table-border-color;
    padding: 15px;

    &.column-small {
      font-size: 0.9em;
    }

    &:last-child { border-right: none; }
  }

  .plain  { color: $table-text-color; }
}
