table {
  border: 1px solid $med_gray;
  text-align: left;
  width: 100%;

  th {
    border: 1px solid $med_gray;
    font-weight: bold;
    padding: 7px 10% 7px 12px;
  }

  tr.odd {
    background-color: darken($light_gray, 1);
  }

  td {
    padding: 15px;

    &.column-small {
      font-size: 0.9em;
    }
  }
}
