$baseFontFamily: Arial, Verdana, Geneva, sans-serif;

$gray_text:  #404040;
$med_gray:   #dedede;
$light_gray: #f9f9f9;

$blue:       #5EC4F0;
$med_blue:   #08c;

$bootflat-green: #8cc152;
$bootflat-red:   #da4453;
$bootflat-blue:  #4a89dc;
