$baseFontFamily: Arial, Verdana, Geneva, sans-serif;

$dark_gray:  #222;
$emphasis:   #393335;
$gray_text:  #404040;
$med_gray:   #ccc;
$light_gray: #f9f9f9;

$blue:       #5EC4F0;
$med_blue:   #08c;
$light_blue: #65C3EC;

$green: #6F9606;
$red:   #FF1919;
