$baseFontFamily: Arial, Verdana, Geneva, sans-serif;

$radius: 3px;

$dark_gray:  #222;
$emphasis:   #393335;
$gray_text:  #404040;
$med_gray:   #ccc;
$light_gray: #f9f9f9;

$blue:       #5EC4F0;
$med_blue:   #1487D4;
$light_blue: #65C3EC;
$dark_blue:  #1f769c;

$green:        #6F9606;
$green_light:  #d3e5a3;
$cancel:       #FF1919;
$cancel_light: #FFEDED;
