//$dark_gray: #363636;
$dark_gray: #38393D;
//$border_bottom: #0D0D0D;
$border-bottom: #3F4044;
//$border_bottom: #B4B4B4; //FOR CONCRETE/STUCCO
$border_top: #CCCCCC;
//$border_top: #FFFFFF; //FOR CONCRETE/STUCCO

body {
  font-family: Arial, Geneva, sans-serif;
  font-size: 16px;
  text-align: center; 
}
  
section {
  clear: both;
  border-bottom: 1px solid $border_bottom;
  border-top: 1px solid $border_top;
  overflow: hidden;
  position: relative;
}

ul.nav {
  border: 1px solid yellow;
  margin-top: 30px; //7px for sleek header, 30 for 140px
  overflow: auto;  
    
  li {
    border-radius: 6px;
    float: left;
    margin-right: 10px;
    
    a {
      background-color: #666;
      border-radius: 5px;
      color: white;
      display: block;
      padding: 4px 10px;
      text-decoration: none;
      
      &:hover, &:active {
        background-color: #A1A19C;
        -webkit-transition: all 0.25s ease-out;        
      }
    }
  }
}

#header {
  background-color: $dark_gray;
  background: -moz-linear-gradient(0% 30% 90deg,#434343, #38393D);
  background: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#434343), to(#38393D));
  border-bottom: 1px solid $border_bottom;
  height: 140px; //110: sleek
}

#home {
  background-color: #5EC4F0;
  height: 860px;
}
#portfolio {
  //background-color: #2AABE1;
  background-color: #87B608;
  //background: url(../_images/stucco.png);    
  height: 860px; 
}
#about {
  background-color: #5EC4F0;
  //background: url(../_images/concrete_wall_3.png);
  height: 860px; 
}

#footer {
  background-color: $dark_gray;
  height: 200px;
  
  .column {
    //background-color: purple;
    float: left;
    margin: 15px;    
    min-height: 100px;
    padding: 0 2px;
    //width: 150px;
    
    ul {
      list-style: none;      
      
      li {
        margin-top: 5px;
        
        a {
        color: white;
        font-size: 1em;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      }
      
    }
    h3 {
      color: white;
      font-size: 1.5em;
      text-shadow:1px 1px 1px #1d1d1d;
    }
  }
}

.wrapper {
  border: {
    style: solid;
    left: {
      width: 1px;
      color: red;
    }
    right: {
      width: 1px;
      color: red;
    }
  }
  height: 100%;
  margin: 0 auto;  
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  text-align: left;
  width: 972px; 
  
  h1 {
    //border: 1px solid green;
    color: white;
    font-size: 3.5em; //3.5em hello world
    font-weight: bold;
    text-shadow:1px 1px 1px #1d1d1d;
  }  
}

form {
  background-color: #e6e6e6;
  border-radius: 15px;
  -moz-box-shadow: 0px 0px 6px #000;
  -webkit-box-shadow: 0px 0px 6px #000;
  box-shadow: 0px 0px 6px #252525;
  overflow: hidden;
  margin: 0 auto;
  padding: 60px 40px;
  width: 415px;
  
  label {
    clear: both;
    float: left;
    margin-top: 10px;
  }
  input, textarea {
    border: none;    
    border-radius: 5px;
    clear: both;
    float: left;
    margin-top: 10px;
    padding: 5px;
    width: 400px;
  }
}
