$dark_gray: #38393D; //#363636
$divider_bottom: #3F4044; //#0D0D0D or #B4B4B4 for stucco bg
$divider_top: #CCCCCC; //#FFFFFF for stucco bg
$blue: #5EC4F0;
$green: #87B608;


//---------- TEMPORARY DEV

//.wrapper {border-left: 1px solid red; border-right: 1px solid red;}
//h1 {border: 1px solid green;}
//ul.nav {border: 1px solid yellow;}
//.column {background-color: purple;border:1px solid yellow;}

//---------- END TEMPORARY DEV


// ----------
// - GENERIC
// ----------
body {
  font-family: Arial, Verdana, Geneva, sans-serif;
  font-size: 16px;
  text-align: center; 
}
h1 {  
  color: white;
  font-size: 3.5em;
  font-weight: bold;
  text-shadow:1px 1px 1px #1d1d1d;
}  
h2 {
  font-size: 3em;
}
h3{
  font-size: 2.5em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1em;  
}
p {
  line-height: 24px;
}
a {
  color: white;
  outline: none;
  text-decoration: none;
}


// ----------
// - LIB
// ----------
.left {float: left;}
.right {float: right;}


// ----------
// - LAYOUT 
// ----------
section {
  clear: both;
  border-bottom: 1px solid $divider_bottom;
  border-top: 1px solid $divider_top;
  overflow: hidden;
  position: relative;
}

ul.nav {
  margin-top: 30px;
  overflow: auto;  
    
  li {
    border-radius: 6px;
    float: left;
    margin-right: 10px;
    
    a {
      background-color: #666;
      border-radius: 5px;
      color: white;
      display: block;
      padding: 4px 10px;
      text-decoration: none;
      
      &:hover, &:active {
        background-color: #A1A19C;
        -moz-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        -webkit-transition: all 0.25s ease-out;        
      }
    }
  }
}

#header {
  background-color: $dark_gray;
  background: -moz-linear-gradient(0% 30% 90deg,#434343, #38393D);
  background: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#434343), to(#38393D));
  border-bottom: 1px solid $divider_bottom;
  height: 140px; //110: sleek
}

#home {
  background-color: $blue;
  //height: 860px;
}
#portfolio {
  background-color: $green; 
  height: 860px; 
}
#about {
  background-color: $blue;  
  height: 860px; 
}
#contact {
  background-color: $green;  
  height: 860px; 
}
.wrapper {
  height: 100%;
  margin: 0 auto;  
  overflow: hidden;
  padding: 20px 0 30px;
  text-align: left;
  width: 972px; 
}

form {
  background-color: #F9F9F9;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  box-shadow: 0 0 6px #252525;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 40px 60px;
  width: 415px;
  
  h2 {
    font-size: 2.5em;
    color: $dark_gray;
  }
  p {
    color: $dark_gray;
    font-size: 1em;
    margin: 0.5em 0;
  }
  label {
    display: none;
  }
  input, textarea {
    font-family: Arial, Verdana, Geneva, sans-serif;
    font-size: 1em;
    background-color: #FFF;
    border: 1px dashed #D4D4D4;
    clear: both;
    color: #B4B4B4;
    float: left;
    margin-top: 10px;
    padding: 5px;
    width: 400px;
    
    &:focus {
      border: 1px solid $blue;
      color: $dark_gray;
      outline: none;
    }
    &#submit {
      background: #89B908;
      background-image: -webkit-gradient(linear,left top,left bottom,from(#8aba08),to(#6e9700));
      background-image: -moz-linear-gradient(top,#8aba08,#6e9700);
      border: none;
      border-radius: 5px;
      color: #FFF;
      cursor: pointer;
      padding: 5px 15px;
      width: 78px;
      
      &:hover {
        background: #89B908;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#8aba08),to(#87B608));
        background-image: -moz-linear-gradient(top,#8aba08,#87B608);
      }
      &:active {
        background: #597803;
        background-image: -webkit-gradient(linear,left top,left bottom,from(#8aba08),to(#597803));
        background-image: -moz-linear-gradient(top,#8aba08,#597803);
        color: #FFF;
      }
    }
        
  }
}
#footer {
  background-color: $dark_gray;
  height: 200px;
  position: relative;
  padding-bottom: 10px;
 
  .column {
    float: left;
    height: 80%;
    padding: 0 20px;
    
    ul {
      list-style: none;      
      
      li {
        margin-top: 5px;
        
        a {
          color: white;
          font-size: 1em;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      
    }
    h3 {
      color: white;
      font-size: 1.5em;
      text-shadow:1px 1px 1px #1d1d1d;
    }
    
    &:first-child {
      //background-color: green;
      padding: 0 20px 0 0;
    }
    &:last-child {
      //background-color: orange;
      float: right;
      padding: 0 0 0 20px;
    }
  }
  
  $border_light:#626262;
  $border_dark:#0D0D0D;
  
  .borderRight {
    border-right: 1px solid $border_light;
    
  }
  .borderBoth {
    border-left: 1px solid $border_dark;
    border-right: 1px solid $border_dark;
  }
  .borderLeft {
    border-left: 1px solid $border_light;
  }
}
#copyright {
  background-color: #2b2b2b;
  border-top: 1px solid #0D0D0D;
  border-bottom: none;
  color: #707070;
  font-size: 0.7em;
  
  .wrapper {
    height: 35px;
    padding: 0;
    
    p {
      line-height: 35px;
    }
  }
  
  a {
    color: #c6c6c6; //707070
    //text-decoration: underline;
    &:hover {
      color: $blue;
      //text-decoration: none;
    }
  }
  
}

