body {
  font-family: Arial, Geneva, sans-serif;
  font-size: 16px;
  text-align: center; }

section {
  clear: both;
  border-bottom: 1px solid #0d0d0d;
  border-top: 1px solid #cccccc;
  overflow: hidden;
  position: relative; }

ul.nav {
  margin-top: 30px;
  overflow: auto; }
  ul.nav li {
    border-radius: 6px;
    float: left;
    margin-right: 10px; }
    ul.nav li a {
      background-color: #666;
      border-radius: 5px;
      color: white;
      display: block;
      padding: 4px 10px;
      text-decoration: none; }
      ul.nav li a:hover, ul.nav li a:active {
        background-color: #A1A19C;
        -webkit-transition: all 0.25s ease-out; }

#header {
  background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#525252), to(#363636));
  border-bottom: 1px solid #0d0d0d;
  height: 140px; }

#portfolio {
  /*background-color: #2AABE1;*/
  background: url(../_images/beige_paper.png);
  height: 760px; }

#about {
  background-color: #87B608;
  height: 760px; }

#footer {
  background-color: #363636;
  height: 200px; }

.wrapper {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  text-align: left;
  width: 972px; }
  .wrapper h1 {
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #1d1d1d; }
