$dark_gray: #363636;
$border_bottom: #0D0D0D;
$border_top: #CCCCCC;

body {
  font-family: Arial, Geneva, sans-serif;
  font-size: 16px;
  text-align: center; 
}
  
section {
  clear: both;
  border-bottom: 1px solid $border_bottom;
  border-top: 1px solid $border_top;
  overflow: hidden;
  position: relative;
}

ul.nav {
  //border: 1px solid yellow;
  margin-top: 30px;
  overflow: auto;
    
  li {
    border-radius: 6px;
    float: left;
    margin-right: 10px;
    
    a {
      background-color: #666;
      border-radius: 5px;
      color: white;
      display: block;
      padding: 4px 10px;
      text-decoration: none;
      
      &:hover, &:active {
        background-color: #A1A19C;
        -webkit-transition: all 0.25s ease-out;        
      }
    }
  }
}

#header {
  //background: #363636 url(../_images/rubber_grip.png);
  //background-color: $dark_gray;
  background: -webkit-gradient(linear, 0% 0%, 0% 50%, from(#525252), to(#363636));
  
  border-bottom: 1px solid $border_bottom;
  height: 140px; 
}

#portfolio {
  /*background-color: #2AABE1;*/
  background: url(../_images/beige_paper.png);
  height: 760px; 
}
#about {
  background-color: #87B608;
  height: 760px; 
}

#footer {
  background-color: $dark_gray;
  height: 200px; 
}

.wrapper {
  border: {
    //style: solid;
    left: {
      width: 1px;
      //color: red;
    }
    right: {
      width: 1px;
      //color: red;
    }
  }
  height: 100%;
  margin: 0 auto;  
  overflow: hidden;
  padding: 10px 0;
  text-align: left;
  width: 972px; 
  
  h1 {
    //border: 1px solid green;
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    text-shadow:1px 1px 1px #1d1d1d;
  }  
}
