<!--
	
Title: Manage Users | SutroCMS
Description: Similar to sutro#overview, this provides an administrative overview of users, with permission control features

- View/Manage Users
-- users/manage => users#manage

- Add a new user (adminstrative action only)
-- users/new    => users#new

- Full name
- Email
- Password
- Password confirmation
-- User will be able to change later
- Permissions
	
-->

<h2>Manage Users</h2>
<%= link_to "Add New User", new_user_path %>

<table>
	
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Permission Level</th>
		<th>Actions</th>
	</tr>
		
	<!------- FAKE HTML ROW FOR STYLING. DELETE! ------->	
	<tr>
		<td>Andrew Berls</td>
		<td>andrew.berls@gmail.com</td>
		<td>Administrator</td>
		<td>
			<a href="#">Edit permissions</a>
			&nbsp;
			<a href="#">Delete</a>
		</td>
	</tr>
	
</table>