<footer id="footer">
  <div class="container">
    <div class="row">

      <div class="span-6">
        <h2>Connect</h2>
        <div class="social">
          <!-- Social Network Icon Pack by Komodo Media http://www.komodomedia.com -->
          <a href="https://github.com/andrewberls" class="icon github-icon"></a>
          <a href="http://www.twitter.com/aberls" class="icon twitter-icon"></a>
          <a href="http://www.linkedin.com/pub/andrew-berls/2b/1a6/aa8" class="icon linkedin-icon"></a>
          <a href="http://feeds.feedburner.com/andrewberls" class="icon rss-icon"></a>
        </div>
        
        <p><strong>Latest blog post: </strong><%= link_to Post.last.title, post_path(Post.last) %></p>
      </div>

      <div class="span-6 offset-4 column">
        <h2>Andrew Berls <span class="description">Student, web developer</span></h2>
        <p><strong>GitHub: </strong><a href="https://github.com/andrewberls">andrewberls</a></p>
        <p><strong>Twitter: </strong><a href="twitter.com/aberls">@aberls</a></p>
        <p>Built with Rails and <a href="http://andrewberls.github.com/Cheeky/">Cheeky CSS</a></p>
      </div>
      
    </div>
  </div>
</footer><!-- footer -->