<footer>
  <div class="container">
    <div class="row">

      <div class="span-6">
        <h2>Connect</h2>
        <div class="social">
          <a href="https://github.com/andrewberls" class="icon github-icon"></a>
          <a href="twitter.com/aberls" class="icon twitter-icon"></a>
          <a href="http://www.linkedin.com/pub/andrew-berls/2b/1a6/aa8" class="icon linkedin-icon"></a>
          <a href="http://feeds.feedburner.com/andrewberls" class="icon rss-icon"></a>
        </div>
        
        <p><strong>Latest blog post: </strong><%= link_to @last_post.title, post_path(@last_post) %></p>
      </div>

      <div class="span-6 offset-4 column">
        <h2>Andrew Berls <span class="description">Student, web developer</span></h2>

        <!-- <p><strong>Email:</strong> andrew.berls@gmail.com</p> -->
        <p><strong>GitHub: </strong><a href="https://github.com/andrewberls">andrewberls</a></p>
        <p><strong>Twitter: </strong><a href="twitter.com/aberls">@aberls</a></p>
        

        <p>Built with Rails and <a href="http://andrewberls.github.com/Cheeky/">Cheeky CSS</a></p>
      </div>






      <!-- <div class="span-3 column">
        <h3>Projects</h3>
        <a href="http://www.soc.ucsb.edu/sexinfo/">SexInfoOnline</a>
        <a href="http://bruceb.com/">bruceb.com</a>
        <a href="http://www.cs.ucsb.edu/~andrewberls">RoboDactyl</a>
      </div>
      <div class="span-3 column">
        <h3>Media</h3>
        <% #link_to "Blog", blog_path %>
        <a href="twitter.com/aberls">Twitter</a>
        <a href="github.com/andrewberls">GitHub</a>
      </div>
      <div class="span-3 column">
        <h3>Tools</h3>
        <a href="http://www.sublimetext.com/2">Sublime Text</a>
        <a href="http://rubyonrails.org/">Ruby on Rails</a>
        <a href="http://sass-lang.com/">SASS</a>
      </div>

      <div class="span-6 offset-1 column">
        <h3>Latest Tweets</h3>
        <ul class="tweets">
          <li class="tweet">
            <span class="tw-text">Unable to load feed</span>
          </li>
        </ul>
      </div> -->
      
    </div>
  </div>
</footer><!-- footer -->