<header>
  <div class="container">
    <div class="row">

      <div class="span-9">
        <h1>Andrew Berls</h1>
      </div>

      <nav class="span-7">
        <ul>
          <li><a href="#">blog</a></li>
          <li><a href="#">resources</a></li>
          <li><a href="#">get in touch</a></li>
          <li><a href="#">portfolio</a></li>
        </ul>
      </nav>
      
    </div>
  </div>
</header>