<section id="contact">

  <form action="" class="contact-form">
    <h2>Get in Touch</h2>
    <p>If you're interested in working together on a project, or just want to say hello, I'd love to hear from you!</p>

    <div class="field">
      <input type="text" value="Name">
    </div>

    <div class="field">
      <input type="text" value="Email">
    </div>

    <div class="field">
      <textarea>Message</textarea>
    </div>

    <a href="#" class="submit">Submit</a>
  </form>

</section><!-- #contact -->