<section id="contact">

  <form action="" class="contact-form">

    <!-- TODO: FLASH SUCCESS/ERROR -->

    <h2>Get in Touch</h2>
    <p>If you're interested in working together on a project, or just want to say hello, I'd love to hear from you!</p>

    <div class="field">
      <input type="text" placeholder="Name" id="name">
    </div>

    <div class="field">
      <input type="text" placeholder="Email" id="email">
    </div>

    <div class="field">
      <textarea placeholder="Message" id="message"></textarea>
    </div>

    <a href="#" class="submit" id="submit-contact">Submit</a>
  </form>

</section><!-- #contact -->