<section id="contact">
  <div class="container">
    <div class="row">
      <div class="span-6 offset-5">
        <form action="" class="contact-form whitebox-square">
          <h2>Get in Touch</h2>
          <p>If you're interested in working together on a project, or just want to say hello, I'd love to hear from you!</p>
          <p></p>
          <div class="field">
            <input type="text" placeholder="Name">
          </div>
          <div class="field">
            <input type="text" placeholder="Email">
          </div>
          <div class="field">
            <textarea>Message</textarea>
          </div>
          <a href="#" class="submit">Submit</a>
        </form>
      </div>
    </div>
  </div>
</section><!-- #contact -->