<header>

  <nav>
    <div class="container">
      <div class="row">
        <div class="span-16">

          <ul>
            <%
              controller  = params[:controller]
              root        = controller == 'posts' ? '/' : ''      # Link to the root on the blog
              scrollClass = controller == 'home'  ? 'scroll' : '' # Section scrolling on homepage
            %>

            <li><%= link_to "Blog", blog_path %></li>
            <li><%= link_to "Portfolio",    "#{root}#portfolio", class: scrollClass %></li>
            <li><%= link_to "Get in touch", "#{root}#contact",   class: scrollClass %></li>
          </ul>

        </div>
      </div>
    </div>
  </nav>

</header>

