<section id="intro">

  <p class="welcome">
    Hello! My name is <span class="highlight">Andrew Berls</span> and I
    <span class="greeting">build things for the web</span>.
  </p>

  <div class="container">
    <div class="row">
      <div class="span-16">

        <div class="item-container">
          <div class="row">
            <div class="span-4 offset-1 item">
              <h2>Who I am</h2>
              <p>I'm a senior studying Computer Science at UCSB. I wear many hats on a daily basis, but most of my time is spent building apps with Rails and hacking away with Ruby or JavaScript.</p>
            </div>

            <div class="span-6 item">
              <h2>What I do</h2>
              <p>Building web applications is my specialty - I love everything from sketching UI mockups and feature design to tinkering with servers and scaling services up and out. You can check out some of my best work <a class="scroll" href="#portfolio">here</a>, or take a look at my <a href="/AndrewBerls_Resume.pdf">resumé</a> (PDF).</p>
            </div>

            <div class="span-4 item">
              <h2>Say hello</h2>
              <p>I occasionally do web-related consulting and design work. I'd be happy to discuss how I might be able to help with your needs, or just say hello. Feel free to <a class="scroll" href="#contact">shoot me an email!</a></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section><!-- #intro -->
