<section id="intro">

  <p class="welcome">
    Hello! My name is <span class="highlight">Andrew Berls</span> and I
    <span class="greeting">build things for the web</span>.
  </p>

  <div class="container">
    <div class="row">
      <div class="span-16">

      <!--
      <div class="span-16 about">
        <div class="row">
          <div class="about-half">
            <h3>About</h3>
            <p class="large">I'm a web <strong>designer</strong> and <strong>developer</strong> studying Computer Science at UCSB.</p>
            <p>I currently specialize in Rails application development - on any given day I might be working with Ruby, CoffeeScript, Sass, or MySQL, to name a few. However, I believe in using the right tool for the job and don't limit myself to any particular technology - I love learning new languages and tools.</p>
          </div>

          <div class="about-half">
            <h3>Work</h3>
            <p class="large">You can take a look at my <a href="/AndrewBerls_Resume.pdf">resume</a> here (PDF).</p>
            <p>I love working with others to produce clean and effective solutions for any range of needs. Feel free to <a href="#contact" class="scroll">shoot me an email!</a></p>
          </div>
        </div>
        -->

        <div class="item-container">
          <div class="row">
            <div class="span-4 offset-1 item">
              <h2>Who I am</h2>
              <p>I'm a 20-year old CS student at UCSB. I wear many hats on a daily basis, but most of my time is spent hacking away on Rails, CoffeeScript, and HTML/CSS.</p>
            </div>

            <div class="span-6 item">
              <h2>What I do</h2>
              <p>Ever since I started working with the web I've been fascinated by <strong>minimalist design</strong>, <strong>elegant code</strong>, and <strong>natural user experiences</strong>. You can check out some of my best work <a class="scroll" href="#portfolio">here</a>, or take a look at my <a href="/AndrewBerls_Resume.pdf">resume</a> (PDF).</p>
            </div>

            <div class="span-4 item">
              <h2>Say hello</h2>
              <p>I love working with others to produce clean, effective, and standards-compliant sites for any range of needs. Feel free to <a class="scroll" href="#contact">shoot me an email!</a></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section><!-- #intro -->
