<section id="intro">
  <div class="container">
    <div class="row">
      <div class="span-16">

        <p class="welcome">Hello! My name is <span class="highlight">Andrew Berls</span> and I <span class="greeting">really enjoy making websites</span>.</p>

        <aside class="separator"></aside>

        <div class="item-container">
          <div class="row">
            <div class="span-4 offset-1 item">
              <h2>Who I am</h2>
              <p>I'm a 20-year old CS student at UCSB. I wear many hats on a daily basis, but most of my time is spent hacking away on Rails, CoffeeScript, and HTML/CSS.</p>
            </div>

            <div class="span-6 item">
              <h2>What I do</h2>
              <p>Ever since I started working with the web I've been fascinated by <strong>minimalist design</strong>, <strong>elegant code</strong>, and <strong>natural user experiences</strong>. You can check out some of my best work <a class="scroll" href="#portfolio">here</a>, or take a look at my <a href="/AndrewBerls_Resume.pdf">resume</a> (PDF).</p>
            </div>

            <div class="span-4 item">
              <h2>Say hello</h2>
              <p>I love working with others to produce clean, effective, and standards-compliant sites for any range of needs. Feel free to <a class="scroll" href="#contact">shoot me an email!</a></p>
            </div>
          </div>
        </div><!-- .item-container -->

      </div>
    </div>
  </div>
</section><!-- #intro -->
