<section id="intro">
  <div class="container">
    <div class="row">
      <div class="span-16">

        <p class="welcome">Hello! My name is <span class="highlight">Andrew Berls</span> and I <strong>really enjoy making websites</strong>.</p>

        <aside class="separator"></aside>

        <div class="item-container">
          <div class="row">
            <div class="span-4 item">
              <h3>Who I am</h3>
              <p>I'm a 19-year old CS student at UCSB. I wear many hats on a daily basis, but most of my time is spent hacking away on CSS, JavaScript, and Rails.</p>
            </div>

            <div class="span-6 offset-1 item">
              <h3>What I do</h3>
              <p>Ever since I started working with the web I've been fascinated by <strong>minimalist design</strong>, <strong>elegant code</strong>, and <strong>natural user experiences</strong>. You can check out some of my best work <a href="#">here</a>, or take a look at my resume <a href="/AndrewBerls_Resume.pdf">here</a> (PDF).</p>
            </div>

            <div class="span-4 offset-1 item">
              <h3>Say hello</h3>
              <p>I love working with others to produce clean, effective, and standards-compliant sites for any range of needs. Feel free to <a class="scroll" href="#contact">shoot me an email!</a></p>
            </div>
          </div>
        </div><!-- .item-container -->

      </div>
    </div>
  </div>
</section><!-- #intro -->