<div class="modal" id="sexinfo-modal">
  <%= link_to (image_tag 'sexinfo_large.jpg'), "http://www.soc.ucsb.edu/sexinfo/" %>
  <h2><a href="http://www.soc.ucsb.edu/sexinfo/">SexInfoOnline</a></h2>
  <p>I'm currently the lead web developer at SexInfoOnline.com, which provides comprehensive sex education and information about human sexuality to visitors from all over the world. The site is run by advanced sociology students at UCSB, along with a team of web developers. My main focus has been to move the site from a custom-built platform to the Drupal CMS. You can read more in the site in the <a href="http://articles.latimes.com/2009/aug/01/local/me-sexclass1">Los Angeles Times</a>.</p>
</div>


<div class="modal" id="robodactyl-modal">
  <%= link_to (image_tag 'robodactyl_large.jpg'), "http://cs.ucsb.edu/~andrewberls/" %>
  <h2><a href="http://cs.ucsb.edu/~andrewberls/">RoboDactyl Escape</a></h2>
  <p>RoboDactyl Escape is a sidescrolling browser game using HTML5 canvas and JavaScript, written as a group project for CS48 at UCSB. The game engine is built from scratch, and available in its entirety on <a href="https://github.com/andrewberls/Robodactyl/tree/master/src">GitHub</a>. Give it your best shot <a href="http://cs.ucsb.edu/~andrewberls/">here!</a></p>
</div>


<div class="modal" id="bruceb-modal">
  <%= link_to (image_tag 'bruceb_large.jpg'), "http://cs.ucsb.edu/~andrewberls/" %>
  <h2><a href="http://bruceb.com/">Bruceb Consulting</a></h2>
  <p>I rebuilt Bruceb Consulting's website from scratch in order to reflect modern web standards in HTML/CSS and to create a clean, refreshed design. The new site is consistent with the theme established by the old site, and focuses on making navigation more simple and elegant. The redesign was done in tandem with an update to Bruceb's Wordpress blog in order to maintain consistency.</p>
</div>


<div class="modal" id="rha-modal">
  <%= image_tag 'rha_large.jpg' %>
  <h2>UCSB RHA</h2>
  <p>From August 2010 to June 2011, I served as the webmaster of the Residence Halls Association, a student organization which oversees all of the Residence Halls on campus and conducts educational/cultural programs for residents. I completely redesigned the site, and transitioned the equipment rental system to a paperless online system. I received the NRHH Outstanding Leadership &amp; Service Award in June for my work.</p>
</div>