<!-- 
  RoboDactyl
  SexInfo
  Bruceb
  RHA
--> 


<section id="portfolio">
  <div class="container">

    <div class="row">
      <div class="span-16">
        <h1>Projects</h1>
      </div>
    </div>

    <div class="row">

      <div class="span-4">
        <div class="portfolio-item">
          <h2><a href="#" id="tr-portfolio-modal">SexInfoOnline</a></h2>
          <img src="http://placehold.it/238x125">
          <p>I'm currently the lead web developer at SexInfoOnline.com, a site devoted to providing comprehensive sex education and accurate information about all aspects of human sexuality, as well as addressing general questions posed from all over the world. The site is run by advanced sociology students at the University of California at Santa Barbara, along with a team of student webmasters. My responsibilities include training and working with the other student developers to maintain existing content, manage projects, and add features. You can read more in the site in the <a href="http://articles.latimes.com/2009/aug/01/local/me-sexclass1">Los Angeles Times</a>.</p>
        </div>
      </div>



      <div class="modal" id="portfolio-modal">
        <img src="http://placehold.it/350x225">
        <h2>test header</h2>
        <p>hello world! hello world! hello world! hello world! hello world! hello world! hello world! hello world! hello world! </p>
      </div>



      <div class="span-4">
        <div class="portfolio-item">
          <h2><a href="#">RoboDactyl Escape</a></h2>
          <img src="http://placehold.it/238x125">
          <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
        </div>
      </div>


      <div class="modal" id="portfolio-modal">
        <img src="http://placehold.it/350x150">
        <h2>test header</h2>
        <p>hello world! hello world! hello world! hello world! hello world! hello world! hello world! hello world! hello world! </p>
      </div>

    
      <div class="span-4">
        <div class="portfolio-item">
          <h2><a href="#">Bruceb Consulting</a></h2>
          <img src="http://placehold.it/238x125">
          <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
        </div>
      </div>

      <div class="span-4">
        <div class="portfolio-item">
          <h2><a href="#">UCSB RHA</a></h2>
          <img src="http://placehold.it/238x125">
          <p>Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem </p>
        </div>
      </div>

    </div>
  </div>
</section><!-- #portfolio -->