<!-- 
  RoboDactyl
  SexInfo
  Bruceb
  RHA
--> 

<!-- 
  I DON'T LIKE THE PORTFOLIO GRID, BUT THE 4 ITEMS LEND THEMSELVES NICELY
    - NO ROOM FOR TEXT?..IMAGES?
-->

<section id="portfolio">
  <div class="container">

    <div class="row">
      <div class="span-14 offset-1">
        <h1>Projects</h1>
      </div>
    </div>

    <div class="row">
      <div class="span-6 offset-1">
        <div class="portfolio-item">SexInfoOnline</div>
        <!-- <div class="portfolio-item">
          <h2><a href="#">SexInfoOnline</a></h2>
          <p>I'm currently the lead web developer at SexInfoOnline.com, a site devoted to providing comprehensive sex education and accurate information about all aspects of human sexuality, as well as addressing general questions posed from all over the world. The site is run by advanced sociology students at the University of California at Santa Barbara, along with a team of student webmasters. My responsibilities include training and working with the other student developers to maintain existing content, manage projects, and add features. You can read more in the site in the <a href="http://articles.latimes.com/2009/aug/01/local/me-sexclass1">Los Angeles Times</a>.</p>
        </div> -->
      </div>
      <div class="span-6 offset-2">
        <div class="portfolio-item">
          Bruceb
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span-6 offset-1">
        <div class="portfolio-item">
          Robodactyl
        </div>
      </div>
      <div class="span-6 offset-2">
        <div class="portfolio-item">
          RHA
        </div>
      </div>
    </div>
  </div>
</section><!-- #portfolio -->