<section class="intro-container">
  <h1>
    Hello! My name is <span class="highlight">Andrew Berls</span>
    <span class="ampersand">&amp;</span> I
    <span class="greeting">develop software</span>.
  </h1>

  <div class="scroll-icon-container">
    <a href="#work" class="fa fa-angle-down scroll"></a>
  </div>
</section>

<section class="sutro-container" id="work">
  <aside class="sutro-stripe"></aside>

  <div class="container">
    <div class="row">
      <div class="span-12 offset-2">

        <h1>Work</h1>
        <p>
          I'm currently a software engineer working on <a href="https://squareup.com/capital" target="_blank">Square Capital</a>, helping businesses get funds to grow.
        </p>

      </div>
    </div>
  </div>
</section>

<section class="latest-post-container">
  <% post = Post.order("published_at desc").first %>
  <h2>Latest blog post: <%= link_to post.title, post %></h2>
</section>

<section class="contact-container" id="contact">
  <h2>Get in Touch</h2>

  <p class="contact">
    Send me an email at <a href="mailto:andrew.berls@gmail.com" target="_blank">andrew.berls@gmail.com</a> or
    say hello on <a href="https://twitter.com/aberls">Twitter</a> or
    <a href="http://www.linkedin.com/pub/andrew-berls/2b/1a6/aa8/">LinkedIn</a>!
  </p>
</section>
