<div class="container">
  <div class="row">
    <div class="span-8 offset-4 error-box">
      <p class="error-message"><strong>Oh no!</strong> The page you were looking for can't be found. It may have been sucked into the void, or moved to a new home. Sorry about that :(</p>

      <a href="/" class="btn btn-huge">&laquo; Home</a>
      <a href="/blog" class="btn btn-huge">Blog &raquo;</a>
    </div>
  </div>
</div>