<% content_for :title, "Dashboard | SutroCMS" %>


<p>Sutro Dashboard</p>
<p>Here you can get a quick look of recent content, (pending content), and have links to create and manage posts in detail </p>