<h2>Dashboard</h2>

<div class="twoCol">
	<div class="colContent">
		<h3>Content Overview</h3>
		<p><%= link_to "Total Posts", {:action => 'overview'}%>: <%= @posts.length %></p>		
	</div>
	
	<div class="colContent">
		<h3>Recent Comments</h3>
		<table id="comments" class="compact">
			<!--<tr>
				<td><span class="italic">Steve Smith said: </span>"Your post is super crazy awes..." on <span class="postTitle"><a href="#">Post Title Goes Here</a></span></td>
			</tr>-->
			<tr>
				<td><span class="todo">This feature won't exist for a long time.</span></td>
			</tr>			
		</table>
	</div>
	
</div>

<div class="twoCol">
	<div class="colContent">
		<h3>Drafts</h3>
		<table id="drafts">			
			<tr>
				<td><span class="todo">Drafts don't exist yet, but are high priority.</span></td>
			</tr>			
		</table>
	</div>
		
	<div class="colContent">
		<h3>User Activity</h3>
		<table id="activity" class="compact">
			<tr>
				<td><span class="todo">This won't exist for an extremely long time.</span></td>
			</tr>			
		</table>
	</div>
</div>