<h2 style="border: 1px solid purple;">Dashboard</h2>

<!--<div class="oneCol"></div>-->

<div class="twoCol">
	<div class="colContent">
		<h3>Content Overview</h3>
		<p>Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet </p>
	</div>
	
	<div class="colContent">
		<h3>Recent Comments</h3>
		<p>Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet </p>
	</div>
	
</div>

<div class="twoCol">
	<table>
		<tr><th>Drafts</th></tr>
		<tr>
			<td>No drafts found! (This feature doesn't exist)</td>
		</tr>
	</table>
	
	<div class="colContent">
		<h3>User Activity</h3>
		<p>Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet Lorem ipsum a sit amet </p>
	</div>
</div>