<div class="recommendations">
  <ul>    
    <h4>Style recommendations:</h4>
    <li>Use &lt;h3&gt; for section headings.</li>
    <li>Use &lt;pre&gt; for code blocks, and &lt;code&gt; for inline snippets.</li>
    <li>span.label for code file labels, or span.comment for an inline comment</li>   
    <li>Image path is "/images/posts/name.jpg"</li>
  </ul>
</div>