<% provide(:title, "Dashboard") %>

<h2>Dashboard</h2>

<div class="twoCol">
	<div class="colContent">
		<h3>Content Overview</h3>
		<p><%= link_to "Total Posts", admin_posts_path %>: <%= @posts.length %></p>		
	</div>
</div>

<div class="twoCol">
	<div class="colContent">
		<h3>Drafts</h3>
		<table id="drafts">			
			<tr>
				<td>
					<% if @saved_posts %>
						<% if @saved_posts.blank? %>
							No saved posts
						<% else %>
							<% @saved_posts.each do |post| %>
								<p>
									<%
										# To do: trade render_sutro time for render_creation_time										
									%>
									<%= link_to post.title, edit_admin_post_path(post.id) %><span class="subdued">, authored on <%= render_sutro_time(post.created_at) %></span>
								</p>
							<% end %>
						<% end %>					
					<% end %>
				</td>
			</tr>			
		</table><!-- #drafts -->
	</div><!-- .colContent -->
</div>