//-- LIB COLORS
$dark_gray: #222;
$gray_text: #434343;
$emphasis: #393335;

$blue: #5EC4F0;       // Section backgrounds
$med_blue: #1487D4;   // Links + nav hover
$light_blue: #65C3EC; // Thumb outline
//$dark_blue: #1f769c;

$mailchimp: #45BCD2;
$green: #87B608;
$light_green: #91C20D;

//-- SECTION BORDERS
$divider_bottom: #BBB;
$divider_top: #FFF;

//-- SECTION BACKGROUNDS
$bg_1: #E2E1E1;
$bg_2: #EAEAEA;

@mixin rounded {
  $rad: 10px;
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}



#main {
  background-color: $blue;  
  border-top-color: $gray_text;
  border-bottom: 1px solid #EAEAEA;
  
  .wrapper {
    overflow: visible;
    position: relative;
  }
  .post {
    @include rounded;
    
    background-color: #F9F9F9;        
    -moz-box-shadow: 0 0 6px #000;
    -webkit-box-shadow: 0 0 6px #000;
    box-shadow: 0 0 6px #252525;
    //float: left;    
    margin-bottom: 25px; //10 0 20
    overflow: visible;
    //padding: 20px 10px 20px;
    padding: 10px;
    width: 700px;

    h4 {
      color: $emphasis;
      font-size: 1.2em;
      font-weight: bold;    
      margin: 0 0 5px;
    }
    .date {
      color: #c4c4c4;
    }
    p {
      color: #525252;        
      font-size: 0.9em;
      //margin: 0 10px;
    }
  }
}

.sidebar {
  //@include rounded;
   
  float: right;
  min-height: 400px;
  //position: fixed;
  right: 0;
  width: 230px;      
}