<div class="row">
  <div class="span-10 offset-3 bio-container">
    <a href="/">
      <img class="avatar" src="http://www.gravatar.com/avatar/eedc3687a5e76c282e43508e29cd67b7.png?s=90x90" />
    </a>

    <p>
      I'm Andrew. I'm an engineer living in San Francisco.<br />
      I write occasionally.
    </p>
  </div>
</div><!-- .row -->
