<div class="span-5 sidebar">
  <h2>About</h2>
  <p>I'm a student living in Santa Barbara who loves building things for the web. I write occasionally.</p>

  <h2>Connect</h2>
  <div class="social">
    <!-- Social Network Icon Pack by Komodo Media http://www.komodomedia.com -->
    <a href="http://www.twitter.com/aberls" class="icon twitter-icon"></a>
    <a href="https://github.com/andrewberls" class="icon github-icon"></a>
    <a href="http://feeds.feedburner.com/andrewberls" class="icon rss-icon"></a>
  </div>
</div>
