<div class="span-4 offset-1 sidebar">
  <h2>about me</h2>
  <p>I'm currently a student at UCSB, and I love building things for the web. Here I post occasional thoughts or code snippets I find interesting. I designed and wrote the software that powers this blog, and I distribute it for free over on <a href="https://github.com/andrewberls/andrewberls">GitHub</a>.</p>
  <p>If you like what you see or want to know more, you can check out my portfolio <%= link_to "here", root_url %>!</p>
</div>