<div class="span-4 sidebar">
  <h2>about me</h2>
  <p>I'm currently a student at UCSB, and I love building websites. This is where I occasionally post things that amuse or interest me. I designed and wrote the software that powers this blog with Rails, and I distribute it for free over on <a href="https://github.com/andrewberls/andrewberls">GitHub</a>.</p>
  <p>If you like what you see or want to know more, you can check out my portfolio <%= link_to "here", root_url %>!</p>
</div>