<% flash.each do |name,msg| %>	
	<div class="flash"><%= msg %></div>
<% end %>

<% @posts.each do |post| %>
	<div class="post">
		<h4><%= raw post.title %></h4>
		<p class="date"><%= post.created_at %></p>
		<p><%= raw post.body %></p>
		
		<!-- TEMPORARY STATIC TAGS FOR STYLING. REPLACE WITH CODE FROM DISABLEDRUBY.TXT -->		
		<a class="tag" href="#">rants</a>
		<a class="tag" href="#">testing</a>			
	</div>
<% end %>

<div class="pagination">
	<!-- TEMPORARY STATIC PAGINATION FOR VISUALS. NEEDS TO BE DONE DYNAMICALLY -->	
	<a href="#">&laquo;</a>
	<a href="#">1</a>
	<a href="#" class="active">2</a>
	<a href="#">3</a>
	<a href="#">4</a>
	<a href="#">5</a>
	<a href="#">&raquo;</a>
</div>

<% if @posts.length > 4 %>			
	<a href="#header" id="top">Back to top</a>
<% end %>