<%= link_to raw("&laquo; Back to Blog"), {:action => "list"}, :id => "back" %>

<div class="post">
	<h4><%= raw @post.title %></h4>
	<p class="date"><%= @post.created_at %></p>
	<p><%= raw @post.body %></p>
	
	<!-- TEMPORARY STATIC TAGS FOR STYLING. REPLACE WITH CODE FROM DISABLEDRUBY.TXT -->
	<a class="tag" href="#">rants</a>
	<a class="tag" href="#">testing</a>			
</div>
