footer {
  background-color: $gray-light;
  border-top: 1px solid white;
  padding: 15px 0 25px;

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .column {
    @include border-box;
    @include border-radius(3px);
    background-color: white;
    padding: 5px;
    
    a {
      @include ease-out(0.12s);
      display: block;
      padding: 2px;

      &:hover {
        background-color: darken($gray-light, 3); // eee
      }
    }

  } // .column

  .social {
    @include border-box;
    @include border-radius(3px);
    background-color: white;
    padding: 5px;
  }

} // footer

@import "twitter";