header {
  background-color: $blue; // TODO: Add noise/texture
  border-bottom: 1px solid $gray-border;
  padding: 15px 0;

  h1 {
    font-family: 'Cabin', Arial, sans-serif;
    font-size: 3.3em;
    font-weight: normal;

    a { color: white; }
  }

  nav {
    margin-top: 20px;

    li {
      border-right: 1px dashed $gray-border;
      float: right;
      font-size: 1.1em;
      padding: 5px 10px;

      &:first-child { border: none; }

      a {
        @include ease-out(0.12s);
        color: white;
        font-size: 1.1em;
        //font-weight: bold;
        display: block;
        text-decoration: none;
        padding: 2px 5px;

        &:hover {
          @include border-radius(4px);
          background-color: $blue-light;
        }
      }
      
    } // li

  } // nav

} // header