header {
  background-color: #3485B6;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;

  h1 {
    // TODO: change this
    color: white;
    font-family: "Franklin Gothic Book"; 
    font-size: 3.3em;
  }

  nav {
    margin-top: 20px;

    li {
      border-right: 1px dashed #ccc;
      float: right;
      font-size: 1.1em;
      padding: 5px 10px;

      &:first-child { border: none; }

      a {
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        display: block;
        text-decoration: none;
        padding: 2px 5px;

        &:hover {
          @include border-radius(4px);
          background-color: #00b4ff;
          //color: #214761;  
        }
      }
      
    } // li

  } // nav

} // header