#intro {
  background: #e2e2e2 url('../img/lines.png') 0 0;
  border-top: 1px solid white;
  border-bottom: 1px solid #ccc;

  .welcome {
    color: #525252;
    font-size: 2.4em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    
    .highlight {
      color: lighten(#3485B6, 3); //2FA6DE
    }

    strong {
      color: #393335;
    }

  } // .welcome

  .item-container {
    margin-top: 10px;

    .item {
      margin-right: 95px;
      &:last-child { margin-right:0; }

      h3 {
        color: #393335;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.1em;
        line-height: 1.6;
      }

      strong {
        font-weight: bold;
      }

    } // .item
    
  } // .item-container

} // #intro