#portfolio {
  background-color: $gray-light;
  border-bottom: 1px solid $gray-border;
  padding-top: 30px;

  .portfolio-item {
    @include whitebox;
  }

  .row:last-child {
    margin-top: 20px;
  }

} // #portfolio