#portfolio {
  background-color: $gray-light;
  border-bottom: 1px solid $gray-border;
  padding-top: 30px;

  .portfolio-item {
    @include whitebox;
  }

  img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;    
  }

} // #portfolio