//-- LIB COLORS
$dark_gray: #222;
$gray_text: #434343;
$emphasis: #393335;

$blue: #5EC4F0;       // Section backgrounds
$med_blue: #1487D4;   // Links + nav hover
$dark_blue: #1f769c;

//---------- TEMPORARY DEV

//.wrapper  {border: 1px solid red; border-top: none;}
//#copyright .wrapper {border: 1px solid yellow;}
// .posts-left { background-color: green; }
// .posts-right { background-color: #0fc; }


//---------- END TEMPORARY DEV


@mixin rounded($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

@mixin box_shadow($horizOffset: 0, $vertOffset: 0, $blurDist: 0, $spreadDist: 0, $color: #000) {  
  -moz-box-shadow:    #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  -webkit-box-shadow: #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  box-shadow:         #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=2, Direction=225, Color='#{$color}')";
  filter: progid:DXImageTransform.Microsoft.Shadow(strength=2, direction=225, color='#{$color}');       
}

body {  
  //background-color: $blue;
  background: #E7E7E7 url(../images/cork1.jpg); // public/images
  position: relative;
}

#container {
  // This exists so that the footer is always pushed to the bottom, regardless of page size
  min-height: 100%;
  position: relative;
}

h4 {
  color: $emphasis;
  font-size: 1.2em;
  font-weight: bold;
  
  a, a:visited {
    color: inherit;
    text-decoration: underline;        
  }
  
  a:hover {
    color: $med_blue;
  }
}
h5 {
  font-weight: bold;
}
h6 {  
  text-decoration: underline;
}
p {
  color: #525252;        
  font-size: 0.9em;
  margin-bottom: 15px;
  
  &.date {
    color: #C4C4C4;    
    font-weight: bold;
    margin-bottom: 5px;     
  }
  
  &:last-child {
    margin-bottom: 5px;
  }
}

section {  
  border: none;  
}

#main {
  
  .wrapper {
    margin-bottom: 40px; // Footer is absolutely positioned - need bottom margin to keep bottom elements visible  
    padding-bottom: 75px;    
  }
}

.wrapper {
  overflow: visible;     
  //position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.flash {
  background-color: #C2D983;
  border: 1px solid #587605; 
  color: #587605;  
  display: inline-block;
  margin-bottom: 15px;
  padding: 7px 15px;
  text-align: center;
  width: 700px;
}

#back {
  color: $emphasis;  
  display: block;  
  margin-bottom: 20px;
}

// I needed .pagination to be centered on the post, not the wrapper
// so I got lazy and wrapper everything in containers.
// Probably should refactor it into a better extensible column setup
// Sorry future me.

.posts-left {
  float: left;
  width: 730px;
}
.posts-right {
  float: right;
}

.post {
  @include rounded(10px);
  @include box_shadow(0,0,2,0,#000000); //252525
  
  background-color: #F9F9F9;     
  margin-bottom: 25px;
  //margin-top: 20px;
  line-height: 32px;
  overflow: visible;   
  padding: 10px 15px;
  width: 700px;
  word-wrap: break-word;
  
  .tag {
    @include rounded(3px);
    
    background-color: #D3D3D3; // c4c4c4 
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 4px;
    padding: 2px 7px;       
  }
  
  // Explicit element styling for within posts  
  ul {
    list-style: square;
        
    li {
      color: #525252;
      margin-left: 30px;
    }
  }
  
  code {
    background-color: #E6E6E6; // e2e2e2
    font-family: 'Courier New', Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    display: block;
    line-height: 1.2; // 1.1
    margin-bottom: 15px;
    padding: 8px 12px;
  }
}

.sidebar {
  float: right;
  font-size: 0.9em;
  min-height: 400px;
  line-height: 15px;
  width: 230px;

  h4 {
    font-size: 1.4em;
    padding-bottom: 7px;
    
    margin-bottom: 10px;
    border-bottom: 2px solid $gray_text;
    
  }  
  
  p {
    color: $emphasis;    
    margin-bottom: 5px;
  }
  
  a {
    color: black;
    text-decoration: underline;
    
    &:hover {
      color: white;
    }
  }
}

#top {
  color: $gray_text;  
  position: absolute;
  right: 10px;
  bottom: 10px;  
}

.pagination {
  margin: 60px auto 0; 
  padding: 5px 0;
  text-align: center;  
  
  a {
    background-color: white;
    border: 1px solid $emphasis;
    color: $dark_blue;    
    padding: 3px 6px;
    
    &:hover {
      background-color: $gray_text;
      color: white;
      text-decoration: none;
    }
    
    &:active {      
      font-weight: bold;
    }       
  }
  .current {      
    background-color: #444;
    border: 1px solid $emphasis;
    color: white;
    font-weight: bold;
    padding: 3px 6px;    
  }
  .disabled {
    background-color: #e7e7e7;
    border: 1px solid $emphasis;
    color: $emphasis; //989898
    opacity: 0.5;
    padding: 3px 6px;
  }
}

#copyright { 
  position: absolute;
  bottom: 0;
  left: auto;
  width: 100%;
  
  p {
    margin: 0;
  }
  
  .wrapper {
    margin: 0 auto;
  }
}