//-- LIB COLORS
$dark_gray: #222;
$gray_text: #434343;
$emphasis: #393335;

$blue: #5EC4F0;       // Section backgrounds
$med_blue: #1487D4;   // Links + nav hover
$dark_blue: #1f769c;

//---------- TEMPORARY DEV

//.wrapper  {border: 1px solid red; border-top: none;}
//#copyright .wrapper {border: 1px solid yellow;}

//---------- END TEMPORARY DEV


@mixin rounded($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

body {  
  background-color: $blue;  
  position: relative;
}

#container {
  // This exists so that the footer is always pushed to the bottom, regardless of page size
  min-height: 100%;
  position: relative;
}

h4 {
  color: $emphasis;
  font-size: 1.2em;
  font-weight: bold;
  
  a, a:visited {
    color: inherit;
    text-decoration: underline;        
  }
  
  a:hover {
    color: $med_blue;
  }
}
h5 {
  font-weight: bold;
}
h6 {  
  text-decoration: underline;
}
p {
  color: #525252;        
  font-size: 0.9em;
  margin-bottom: 15px;
  
  &.date {
    color: #C4C4C4;    
    font-weight: bold;
    margin-bottom: 5px;     
  }
  
  &:last-child {
    margin-bottom: 5px;
  }
}

section {  
  border: none;  
}

#main {
  
  .wrapper {
    margin-bottom: 40px; // Footer is absolutely positioned - need bottom margin to keep bottom elements visible  
    padding-bottom: 75px;    
  }
}

.wrapper {
  overflow: visible;     
  //position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.flash {
  background-color: #C2D983;
  border: 1px solid #587605; 
  color: #587605;  
  display: inline-block;
  margin-bottom: 15px;
  padding: 7px 15px;
  text-align: center;
  width: 700px;
}

#back {
  color: $emphasis;  
  display: block;  
  margin-bottom: 20px;
}

.post {
  @include rounded(10px);
  
  background-color: #F9F9F9;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  box-shadow: 0 0 6px #252525;    
  margin-bottom: 25px;
  //margin-top: 20px;
  line-height: 32px;
  overflow: visible;   
  padding: 10px 15px;
  width: 700px;
  word-wrap: break-word;
  
  .tag {
    @include rounded(3px);
    
    background-color: #C4C4C4; // BACKGROUND NEEDS TO BE SLIGHLY LIGHTER, COLOR MIGHT BE GOOD    
    color: #666;
    font-size: 0.9em;
    font-weight: bold;
    margin-right: 4px;
    padding: 2px 7px;       
  }
  
  // Explicit element styling for within posts  
  ul {
    list-style: square;
        
    li {
      margin-left: 30px;
    }
  }
}

.sidebar {
  float: right;
  font-size: 0.9em;
  min-height: 400px;
  line-height: 15px;
  width: 230px;

  h4 {
    margin-bottom: 10px;
    border-bottom: 1px solid $gray_text;
    padding-bottom: 5px;
  }  
  
  p {
    color: $emphasis;
    margin-bottom: 5px;
  }
  
  a {
    color: black;
    text-decoration: underline;
    
    &:hover {
      color: white;
    }
  }
}

#top {
  color: $gray_text;  
  position: absolute;
  right: 10px;
  bottom: 10px;  
}

.pagination { 
  margin: 60px auto 0; 
  padding: 5px 0;
  text-align: center;  
  
  a {
    background-color: white;
    border: 1px solid $emphasis;
    color: $dark_blue;    
    padding: 3px 6px;
    
    &:hover {
      background-color: $gray_text;
      color: white;
      text-decoration: none;
    }
    
    &:active {      
      font-weight: bold;
    }
    
    &.active {      
      background-color: #444;
      color: white;
      font-weight: bold;      
    }
  }  
}

#copyright { 
  position: absolute;
  bottom: 0;
  left: auto;
  width: 100%;
  
  p {
    margin: 0;
  }
  
  .wrapper {
    margin: 0 auto;
  }
}