#simplemodal-overlay {
  background-color: #000;
}

.modal {
  @include border-box;
  @include clearfix;
  display: none;
  background-color: white;
  border: 1px solid $gray-border;
  padding: 15px;
  width: 640px;
  margin: 0 auto;

  img {
    float: left;
    margin-right: 10px;
  }

} // .modal