//-- LIB COLORS
$dark_gray: #222;
$gray_text: #434343;
$emphasis: #393335;

$blue: #5EC4F0;       // Section backgrounds
$med_blue: #1487D4;   // Links + nav hover
$light_blue: #65C3EC; // Thumb outline
//$dark_blue: #1f769c;

$mailchimp: #45BCD2;
$green: #87B608;
$light_green: #91C20D;

//-- SECTION BORDERS
$divider_bottom: #BBB;
$divider_top: #FFF;

//-- SECTION BACKGROUNDS
$bg_1: #E2E1E1;
$bg_2: #EAEAEA;

//---------- TEMPORARY DEV
/*
.wrapper  {border-left: 1px solid red; border-right: 1px solid red;}
#home .wrapper {
  border: none !important;
  box-shadow: none !important;
  background-color: pink !important;
}
h1        {border: 1px solid green;}
h2        {border: 1px solid orange;}
//p         {border: 1px solid purple;}
ul.nav    {border: 1px solid yellow;}
.column   {border: 1px solid Turquoise;}
.twoCol     {background-color: orange;}
.threecol {background-color: #0fc;}
*/
//---------- END TEMPORARY DEV

// ----------
// - LIB
// -- Mixins
// -- Classes
// ----------

//----- LIB MIXINS
@mixin border_radius($rad) {
    -webkit-border-radius: #{$rad}px;
    -moz-border-radius: #{$rad}px;
    border-radius: #{$rad}px;
}

@mixin background_gradient($start, $end) {
  background: -moz-linear-gradient(0% 50% 90deg,#{$end}, #{$start});
  background: -ms-linear-gradient(#{$start},#{$end});
  background: -webkit-gradient(linear, 0% 0%, 0% 35%, from($start), to($end)); 
  background: -o-linear-gradient(#{$start},#{$end});   
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start}', endColorstr='#{$end}');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='{$start}', endColorstr='#{$end}')";
  background: linear-gradient(#{$start}, #{$end});
}

@mixin box_shadow($horizOffset: 0, $vertOffset: 0, $blurDist: 0, $spreadDist: 0, $color: #000) {  
  -moz-box-shadow:    #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  -webkit-box-shadow: #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  box-shadow:         #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=2, Direction=225, Color='#{$color}')";
  filter: progid:DXImageTransform.Microsoft.Shadow(strength=2, direction=225, color='#{$color}');       
}

@mixin ease_out($time: 1) {
  -moz-transition: all #{$time}s ease-out;
  -o-transition: all #{$time}s ease-out;
  -webkit-transition: all #{$time}s ease-out;  
}

//----- LIB CLASSES

.cta {
  background: #89B908;
  @include background_gradient(#3099DF, #188AC2);     
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  padding: 5px 15px;
}
.msgBad, .msgGood {
  border-radius: 6px;
  margin: 0 auto 30px;
  padding: 5px;
  width: 70%;
}
.msgBad {
  background-color: #FFAFAF;
  border: 1px solid #FF1919;  
}
.msgGood {
  background-color: #C2D983;
  border: 1px solid #587605;  
}
.twoCol {
  float: left;
  margin-right: 25px;
  width: 40%;
}
.threeCol {
  float: left;   
  margin: 0 15px;  
  width: 30%;   
}

// ----------
// - GENERIC
// ----------
body {
  font-family: Arial, Verdana, Geneva, sans-serif;
  font-size: 16px;
  text-align: center; 
}
#container {
  // This exists so that the footer is always pushed to the bottom, regardless of page size
  min-height: 100%;
  position: relative;
}
h1, h2, h3, h4, h5, h6, p {
  color: $gray_text;  
}
h1 {      
  font-size: 3.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #1d1d1d;
}  
h2 {
  font-size: 3em;
}
h3{
  font-size: 2.5em;
}
p {  
  line-height: 24px;
}
a { 
  color: $med_blue;
  text-decoration: none;
  
  &:visited {    
    color: $med_blue;
    text-decoration: none;
  }
  
  &:hover {
    color: $dark_gray;
    text-decoration: underline;
  }
  
  &:focus {
    outline: none;
  }
}

// ----------
// - LAYOUT 
// ----------
section {
  clear: both;
  border-bottom: 1px solid $divider_bottom;
  border-top: 1px solid $divider_top;
  overflow: hidden;
  position: relative;
}

#header {
  background-color: $dark_gray;
  @include background_gradient(#2c2c2c, #1C1B1B); 
  border-top: none;  
  border-bottom: 1px solid $emphasis;  
  
  h2 {
    color: #D7D7D7;
    display: inline-block;
    margin-top: 10px;
    
     span {
      color: #39A6E2;      
    }  
  }
     
  .wrapper {    
    padding: 0;
  }
  
  ul.nav {
  margin-top: 15px;
  margin-bottom: 20px;
  overflow: auto;  
    
    li {      
      float: left;
      margin-right: 10px;
      
      a {     
        background-color: #525252;           
        color: #D7D7D7;
        display: block;
        font-size: 1.1em;
        padding: 4px 10px;
        text-decoration: none;
        
        &:hover, &:active {                  
          background-color: $med_blue;                          
          color: #FFF;
          @include ease_out(0.25);
        }               
      }
    }
  }
  
  a.icon {    
    background: url('../_images/sprite.gif') no-repeat;    
    display: block;
    float: right;    
    height: 22px;
    margin-top: -40px;  
    width: 22px;         
  }  
}

#home {
  background-color: $blue;  
  border-top-color: $gray_text;
  border-bottom: 1px solid #EAEAEA;
  
  .wrapper {    
    background-color: #F9F9F9;        
    @include border_radius(10);
    @include box_shadow(0,0,6,0,#252525); //0 0 3 0    
    margin-top: 80px; //50px
    margin-bottom: 85px;   
    padding: 30px 0 60px;        
  }
  
  h4 {
    color: $emphasis;
    font-size: 1.2em;
    font-weight: bold;    
    margin: 0 10px 15px;    
  }
  p {
    color: #525252;        
    font-size: 0.9em;
    margin: 0 10px;    
       
    span {
     font-weight: bold;    
     color: $emphasis;     
   }
            
    &.welcome {
        border-bottom: 1px solid #dadada;
        font-family: Verdana;
        font-size: 2em;
        font-weight: bold;
        line-height: 40px;
        margin-left: 20px;        
        margin-bottom: 25px;
        padding-bottom: 25px;        
        
        span {          
          color: $emphasis;
        }
     }          
  }  
}

#portfolio {
   background-color: $bg_1;
  
  .wrapper {
    padding: 65px 0 120px;
  }
}

//-- IMAGE SLIDER AND THUMBNAILS
.slider {  
  float: left;    
  position: relative;
  
  .window {    
    height: 450px;    
    overflow-x: hidden;
    overflow-y: scroll;  
    position: relative;
    width: 972px;
    
    .reel {           
      position: absolute;
      top: 0; left: 0;
      
     .frame { 
       float: left;            
       height: 425px;
       padding: 15px;
       width: 942px;
           
       img {        
        @include box_shadow(-2,2,6,1,#a3a3a3);        
       }
       
       .text {
        float: right;        
        margin-right: 53px;
        height: 425px;
        width: 450px; 
         
         h3 {          
           margin-bottom: 10px;
         }         
       }       
      } 
    }    
  }
  
  .thumb {   
    float: left;
    height: 200px; 
    margin: 20px 15px 0 15px;
    width: 275px;    
    
    a {
      border: 3px solid #C4C4C4;      
      float: left;
      height: 200px;
      width: 275px;
      @include box_shadow(-2,2,6,1,#a3a3a3);
      
      
      &:hover {
        border: 3px solid #666;
        -moz-transition: all 0.12s ease-out;
        -o-transition: all 0.12s ease-out;
        -webkit-transition: all 0.12s ease-out;
      }
      &.active {
        border: 3px solid $light_blue;        
      }
    }         
  }
}

/*#about {  
  background-color: #58C2E9;
  
  h2 {
    margin-bottom: 15px;
  }
  
  .wrapper {    
    background-color: #F9F9F9;  
    @include border_radius(10);
    @include box_shadow(0,0,6,0,#000);     
    margin-top: 80px; //50px
    margin-bottom: 85px;   
    padding: 30px 25px 60px;      
  }
}*/

#contact {   
  background-color: $light_blue;
     
  .wrapper {
    padding: 100px 0 120px;      
  } 
}

.wrapper {
  height: 100%;
  margin: 0 auto;  
  overflow: hidden;
  padding: 50px 0 100px;
  position: relative;
  text-align: left;
  width: 972px;
  //-- RESPONSIVE DESIGN CREATES ISSUE IN FOOTER - SMALLER PARENT FONT SIZE
  //max-width: 60.75em; // 972 / 16 = 60.75 
}

//-- CONTACT FORM
form {
  background-color: #F9F9F9;  
  @include box_shadow(0,0,6,0,#252525);
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 40px 60px;
  width: 415px;
  
  h2 {
    font-size: 2.5em;   
  }
  p {    
    color: $gray_text;
    font-size: 1em;
    margin: 0.5em 0;
  }
  label {
    display: none;
  }
  textarea {
    // Remove scrollbar in IE
    overflow: auto;
  }
  input, textarea {    
    background-color: #FFF;
    border: 1px dashed #b4b4b4;
    clear: both;
    color: #B4B4B4;
    float: left;
    font-family: Arial, Verdana, Geneva, sans-serif;
    font-size: 1em;
    margin-top: 10px;
    padding: 5px;
    width: 400px;
    
    &:focus {
      border: 1px solid $blue;      
      color: $gray_text;
      outline: none;
    }
    
    &.valid {      
      color: $gray_text;
    }
    &.invalid {
      border: 1px solid #FF1919;
      //border-right: 5px solid #FF1919;
      color: #FF1919;
    }
    &#submit {       
      width: 78px;
                  
      &:hover {
        background: #008AB8;
      }
      &:active {
        background: #007298;               
        color: #FFF;
      }
    }
        
  }
}

//-- BACK TO TOP LINK
#top {  
  color: $gray_text;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#footer {
  background-color: $dark_gray;
  border-bottom: 1px solid #0D0D0D;
  height: 175px;
  position: relative;
  padding-bottom: 10px;
  
  .wrapper {
    padding: 20px 0 30px;
  }
  
  .column {
    color: white;
    float: left;
    height: 80%;    
    padding: 0 30px;
        
    h3 {
      color: white;
      font-size: 1.4em;
      text-shadow: 1px 1px 1px #1d1d1d;
    }
    
    ul {
      list-style: none;      
      
      li {        
        margin-top: 7px;
        
        a {
          color: white;
          color: #c6c6c6;
          font-size: 0.9em;
          text-decoration: none;
          
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
      
    }
           
    &:first-child {
      padding: 0 20px 0 0;
    }   
  }
    
  $border_light: #4E4E4E;
  $border_dark: #000;
  
  .borderRight {
    border-right: 1px solid $border_light;
    
  }
  .borderBoth {
    border-left: 1px solid $border_dark;
    border-right: 1px solid $border_dark;
  }
  .borderLeft {
    border-left: 1px solid $border_light;
  }
}

#copyright {
  background-color: #2b2b2b;  
  border-top: 1px solid #383838; 
  border-bottom: none;
  font-size: 0.7em;
     
  .wrapper {
    height: 35px;
    padding: 0;    
    
    p {
      color: #707070;
      line-height: 35px;
    }
  }
  
  a {
    color: #c6c6c6;
    
    &:hover {
      color: $bg_1;
    }
  }  
}