//-- LIB COLORS
$dark_gray: #222;
$gray_text: #434343;
$emphasis: #393335;

$med_blue: #1487D4;
$green: #6F9606;
$green_light: #d3e5a3;
$cancel: #FF1919; //FF1919
$cancel_light: #FFDEDE; //FFD3D3

//---------- TEMPORARY DEV STYLES

//td     {border-top: 1px solid red; border-bottom: 1px solid red;}
//#content {background-color: #0FC;}

//---------- TEMPORARY DEV STYLES

body {  
  background-color: #EDEDED;
  font-family: Arial, Verdana, Geneva, sans-serif;
  font-size: 16px;
}

h2 {
  color: $emphasis;
  font-size: 1.7em;  
  margin-bottom: 15px; //10px
}
h3 {
  font-size: 1.2em;
}

a, a:visited {
  color: $med_blue;  
  text-decoration: none;   
}

a {
  &:hover {
    text-decoration: underline;
  }
}

#container {  
  clear: none;  
  overflow: auto;  
}

#sidebar {
  background-color: blue;
  clear: none;
  float: left;   
  min-height: 500px;    
  width: 12.5em;
  
  ul {
    margin-top: 30px;
    
    &:last-child {
      border-bottom: 1px solid red;
    }  
    
    li {
    
      a {
        background-color: purple;
        border-top: 1px solid yellow; color: white;
        display: block;
        height: 30px;
        line-height: 30px;
        margin: 0;
        padding-left: 45px;
        text-decoration: none;
        
        &.current {
          background-color: red;              
        }
        
        &:hover {
          background-color: orange;
          color: red;          
        }
        
        &:active {          
        }               
      }
    }      
  }
}

#content {   
  overflow: hidden;  
  padding: 30px 15px 30px 15px;
}

.wrapper {  
  background-color: #F9F9F9; 
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;    
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  box-shadow: 0 0 6px #252525;
  color: $gray_text;
  float: left; 
  //overflow: auto;
  padding: 20px;
  padding-right: 25px;
  width: 768px;
}

label {
  clear: both;
  float: left;  
  margin-bottom: 10px;
}

input[type=text],textarea {
  clear: both;
  float: left;  
  margin-bottom: 10px; 
  //width: 80%;
  width: 100%;
  
  &:focus {
    outline: none;
  }
}

input[type=text] {
  font-size: 1.2em;
  height: 30px;
}

textarea { 
  font-family: Arial;
  height: 200px; 
  overflow: auto; // Remove scrollbar in IE
  resize: vertical;
}

.cta {
  background: #F0F0F0;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin: 0;
  padding: 7px 10px;
  text-decoration: none;
  
  &:hover {    
    cursor: pointer;
  }
}

#submit {
  color: $green;
  clear: both;
  float: left;
  
  &:hover {    
    background-color: $green_light;
    color: #5C7C04;    
    border: 1px solid $green;
  }
}

#cancel {
  color: $cancel;
  float: right;
  font-size: 0.9em;  
  
  &:hover {
    background-color: $cancel_light;
    border: 1px solid #FF8181;
  }
}

table {
  background-color: #F9F9F9;
  border: 1px solid #CCC;  
  text-align: left;
  width: 100%;
}

th {
  border: 1px solid #CCC;
  //font-weight: normal;
  padding: 7px 225px 7px 12px; 
}

td {  
  padding: 15px;
}
