


//---------- TEMPORARY DEV STYLES

#sidebar   { background-color: blue; }
#sidebar a { border-top: 1px solid yellow; border-bottom: 1px solid blue; color: white; }
#sidebar a.current {background-color: red;}

//---------- TEMPORARY DEV STYLES

body {
  background-color: #dadada;
}

#sidebar {  
  float: left;
  min-height: 500px;  
  width: 200px;
  
  ul {
    margin-top: 30px;
    
    li {    
     
      a {
        background-color: purple;
        display: block;
        height: 30px;
        line-height: 30px;
        padding-left: 45px;
        text-decoration: none;
        
        &.current {                 
        }
        
        &:hover {
          background-color: orange;
          color: red;
          //text-decoration: underline;
        }
        
        &:active {
          text-decoration: underline;
        }
      }
    }
  }
}

#content {
  background-color: red;
  float: left;
  margin-left: 100px;
  width: 972px;
}

label, input, textarea {
  clear: both;
}
