//-- LIB COLORS
$dark_gray: #222;
$gray_text: #434343;
$emphasis: #393335;

$blue: #5EC4F0;
$med_blue: #1487D4;
$light_blue: #65C3EC;
$dark_blue: #1f769c;

$green: #6F9606;
$green_light: #d3e5a3; // TOO DARK -------------------------------
$cancel: #FF1919;
$cancel_light: #FFEDED;

//---------- TEMPORARY DEV STYLES

#container { 
  background-image: none   !important; 
  background-color: green !important; 
}
#sidebar { background-color: orange !important; }
#content { background-color: #0FC   !important; }
.wrapper, .recommendations ul {
  background-color: pink !important; 
  box-shadow: none       !important; 
  border-radius: 0px     !important;
}
table    { border: 1px solid green !important; }
th {
  border: none !important;
  border-bottom: 1px solid brown !important;
}
td {color: black;}

h2 {background-color: orange !important; color: black !important;}
label {background-color: blue !important; color: white !important;}
input,textarea {border: 1px solid black !important;}
.fieldDescription {background-color: red !important; color: yellow !important;}

.cta {
  background-color: yellow !important; 
  border: 1px solid red !important;
  border-radius: 0px !important;
  color: black !important;  
}


//---------- END TEMPORARY DEV STYLES

// ----------
// - LIB
// -- Mixins
// -- Classes
// ----------

//----- LIB MIXINS
@mixin border_radius($rad) {
    -webkit-border-radius: #{$rad}px;
    -moz-border-radius:    #{$rad}px;
    border-radius:         #{$rad}px;
}

@mixin box_shadow($horizOffset: 0, $vertOffset: 0, $blurDist: 0, $spreadDist: 0, $color: #000) {  
  -moz-box-shadow:    #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  -webkit-box-shadow: #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  box-shadow:         #{$horizOffset}px #{$vertOffset}px #{$blurDist}px #{$spreadDist}px #{$color};
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength=2, Direction=225, Color='#{$color}')";
  filter: progid:DXImageTransform.Microsoft.Shadow(strength=2, direction=225, color='#{$color}');       
}

@mixin header_gradient() {
  // Non-generalized implementation for headers in dashboard tables.
  // Exists purely for rule cleanliness.
  background-image: linear-gradient(bottom, #D1D1D1 22%, #D9D9D9 69%);
  background-image: -o-linear-gradient(bottom, #D1D1D1 22%, #D9D9D9 69%);
  background-image: -moz-linear-gradient(bottom, #D1D1D1 22%, #D9D9D9 69%);
  background-image: -webkit-linear-gradient(bottom, #D1D1D1 22%, #D9D9D9 69%);
  background-image: -ms-linear-gradient(bottom, #D1D1D1 22%, #D9D9D9 69%);  
  background-image: -webkit-gradient(linear,left bottom,left top,
    color-stop(0.22, #D1D1D1),color-stop(0.69, #D9D9D9));
}

//----- LIB CLASSES
.todo {color: orange;}

.action_success {
  color: $green;
  margin: 10px 0;
}

.action_debug {
  background-color: #FFCE32;
  border: 1px solid #E8840E;
  margin: 10px 0;
  padding: 5px;
}

.subdued {
  color: #9b9b9b;
  /*font-size: 0.9em;*/
 }
 .italic { font-style: italic; }
 .bold { font-weight: bold; }

// ----------
// - GENERIC
// ----------
body {  
  background-color: #EDEDED;  
  font-family: Arial, Verdana, Geneva, sans-serif;
  font-size: 16px;
}

h2 {
  color: $emphasis;
  font-size: 1.7em;  
  margin-bottom: 15px;
}
h3 {
  font-size: 1.2em;
}

a, a:visited {
  color: $med_blue;  
  text-decoration: none;   
}

a {
  &:hover {
    text-decoration: underline;
  }
}

#container {  
  background: url(../images/bg.jpg) repeat-y;
  clear: none;
  min-height: 100%;
  overflow: auto;  
}

#sidebar {
  background-color: #C4C4C4;
  clear: none;
  float: left;   
  min-height: 500px;    
  width: 12.5em;
  
  ul {
    margin-top: 30px;     
    
    li {
    
      a {
        background-color: #f9f9f9;        
        background-image: linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);
        background-image: -o-linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);
        background-image: -moz-linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);
        background-image: -webkit-linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);
        background-image: -ms-linear-gradient(left , #F9F9F9 88%, #DFDFDF 100%);        
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0.88, #F9F9F9), color-stop(1, #DFDFDF));
        border-bottom: 1px solid #9C9C9C;
        border-top: 1px solid #f9f9f9;
        color: $med_blue;
        display: block;
        height: 30px;
        line-height: 30px;
        margin: 0;
        //padding-left: 45px; // Left align the edge instead of centering
        text-align: center;
        text-decoration: none;
                       
        &:hover {          
          background-color: $med_blue;
          background-image: none;         
          color: #f9f9f9;                    
        }
        
        &.current {          
          background-color: $dark_blue;          
          background-image: linear-gradient(bottom, #1F779C 48%, #1B6385 100%);
          background-image: -o-linear-gradient(bottom, #1F779C 48%, #1B6385 100%);
          background-image: -moz-linear-gradient(bottom, #1F779C 48%, #1B6385 100%);
          background-image: -webkit-linear-gradient(bottom, #1F779C 48%, #1B6385 100%);
          background-image: -ms-linear-gradient(bottom, #1F779C 48%, #1B6385 100%);          
          background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.48, #1F779C), color-stop(1, #1B6385));
          border-top: 1px solid #666;
          color: white;         
        }
        
        &:active {          
        }
                       
      }
    }      
  }
  
  p {
    color: $gray_text;
    font-size: 0.8em;
    margin-top: 15px;
    text-align: center;
  }
}

#content {   
  overflow: hidden;  
  padding: 30px 15px 30px 15px;
}

.flash {
  background-color: $cancel_light;
  border: 1px solid #FF8181;
  color: $cancel;
  padding: 7px 10px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 578px;
}

.error_messages {
  background-color: #ffeded;
  border: 1px solid $cancel;  
  color: $cancel;
  margin-bottom: 15px;
  padding: 5px;
  
  h2 {
    color: inherit;
    font-size: 1.2em;
  }
  
  ul {
    list-style: square;
    margin-left: 30px;
  }
}

.wrapper {  
  background-color: #F9F9F9;
  @include border_radius(10);  
  @include box_shadow(0,0,2,0,#222); // 0 0 6 0 #000
  color: $gray_text;
  float: left;
  //margin: 0 auto; overflow: auto; //Center the box on the screen if desired
  padding: 20px;
  padding-right: 25px;
  width: 768px;
}

.fieldDescription {  
  color: #aaa; //THIS NEEDS TO BE DARKER-----------------------------------------------------
  float: left;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 2px;
  margin-left: 5px;
}

.recommendations {  
  clear: both;
  font-size: 0.9em;
  line-height: 1.4;  
  
  h4 {
    color: #393335;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  ul {
    background-color: #F9F9F9;
    @include border_radius(10);  
    @include box_shadow(0,0,2,0,#222); // 0 0 6 0 #000
    display: inline-block;
    list-style: disc;
    margin-top: 15px;
    padding: 10px;
    
    li {
      margin-left: 25px;
    }
  }
}

#login {
  // Using IDs to overwrite classes, oooh yeah
  float: none;
  margin: 20px auto;  
  overflow: auto;
  width: 550px;
}

label {
  clear: both;
  float: left;  
  margin-bottom: 10px;
}

input, textarea, select {
  clear: both;
  float: left;  
  margin-bottom: 10px; 
  width: 100%;
  
  &:focus {
    outline: none;
  }
}

input {
  font-size: 1.2em;
  height: 30px;
}

textarea { 
  font-family: Arial;
  height: 200px; 
  overflow: auto; // Remove scrollbar in IE
  resize: vertical;
}

select {
  height: 2.3em;
  margin-bottom: 15px;
  width: 50%;  
}

.cta {
  background: #F0F0F0;
  border: 1px solid #CCC;
  border-radius: 5px;  
  font-size: 0.9em;  
  padding: 7px 10px;
  text-decoration: none;
  width: auto;   
  
  &:hover {    
    cursor: pointer;
    text-decoration: none;
  }
}

.submit {
  color: $green;
  
  &:hover {    
    // $GREEN_LIGHT BACKGROUND IS TOO DARK
    //background-color: $green_light;
    color: #5C7C04;    
    border: 1px solid $green;
  }
}

#save  {  
  clear: none;
  color: $med_blue;
  display: none; // Enabled with JS
  margin-left: 10px;
  
  &:hover {
    // $LIGHT_BLUE BACKGROUND IS TOO DARK
    //background-color: $light_blue;
    border: 1px solid $blue;    
  }
}

#cancel {
  color: $cancel;
  float: right; 
  
  &:hover {
    //Sbackground-color: $cancel_light;
    border: 1px solid #FF8181;    
  }
}

table {
  background-color: #F9F9F9;
  border: 1px solid #CCC;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

th {
  border: 1px solid #CCC;
  //font-weight: normal;
  padding: 7px 10% 7px 12px; 
}

tr {
  &.odd {
    background-color: #f2f2f2;
  }  
}

td {
  padding: 15px;
}

.tag {
  font-size: 0.9em;  
}

//-- DASHBOARD COLUMN LAYOUT
.oneCol { //Test div to check padding
  width: 100%;
  background-color: green;
  min-height: 200px;
  margin-bottom: 20px;
}

.twoCol {
  // TO DO: stop being lazy and figure out the right box-model math
  
  $bottom_margin: 20px;
  
  float: left;
  margin-right: 10px;  
  width: 49%; // Sort of hackety, but accidentally responsive! Yay!
  
  &:last-child {    
    float: right; 
    margin-right: 0;       
  }
  
  .colContent {    
    background-color: #F9F9F9;   
    line-height: 1.4;
    margin-bottom: $bottom_margin;   
    padding-bottom: 10px;       
    
    h3 {
      background-color: #D9D9D9;      
      @include header_gradient;                
      border-bottom: 1px solid #ccc;      
      margin-bottom: 10px;
      padding: 2px 10px;         
    }
    
    p {
      margin: 0 10px;      
    }
  }
  
  table {    
    border: none;
    margin: 0 0 $bottom_margin;
  }
  
  .compact {
    //border: none;
    
    td {      
      padding: 3px 10px;
    }
  }
  
  #overview {}
  #comments {
    font-size: 0.95em;
    
    .italic {
      color: #6E6E6E;
      font-style: italic;
    }
    .postTitle {
      //font-weight: bold;
    }
  }
  #drafts {
    td {
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
    }
  }
  //#activity {}
  
}

.pagination {
  margin: 30px auto 0; 
  padding: 5px 0;
  text-align: center;  
  
  a {
    background-color: white;
    border: 1px solid $emphasis;
    color: $dark_blue;    
    padding: 3px 6px;
    
    &:hover {
      background-color: $gray_text;
      color: white;
      text-decoration: none;
    }
    
    &:active {      
      font-weight: bold;
    }       
  }
  .current {      
    background-color: #444;
    border: 1px solid $emphasis;
    color: white;
    font-weight: bold;
    padding: 3px 6px;    
  }
  .disabled {
    background-color: #e7e7e7;
    border: 1px solid $emphasis;
    color: $emphasis; //989898
    opacity: 0.5;
    padding: 3px 6px;
  }
}

